<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">

<dom-module id="navbar-element">
  <style>
    /* CSS rules for your element */
  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
      <!-- local DOM for your element -->
    <paper-header-panel class="flex">
        <paper-toolbar>
          <paper-icon-button icon="menu"></paper-icon-button>
          <span id ="index" on-tap="changeURL" style ="cursor: pointer; cursor: hand;"> <span class="title" >Prendus</span></span>
          <span class="title"></span>
          <template is="dom-if" if="{{username}}">
            <div on-tap="openDropdown" >{{username}} </div>
            <div>
              <iron-dropdown vertical-align="top" horizontal-align="right" noAutoFocus>
                <paper-listbox class="dropdown-content" >
                  <paper-item><paper-button class="route" id="profile" on-tap="changeURL">Account</paper-button></paper-item>
                  <paper-item><paper-button class="route" id="course" on-tap="changeURL">Courses</paper-button></paper-item>
                  <paper-item><paper-button class="route" id="profile" on-tap="changeURL">Dashboards</paper-button></paper-item>
                  <paper-item><paper-button class="route" id="profile" on-tap="changeURL">Settings</paper-button></paper-item>
                  <paper-item><paper-button class="route" id="login" on-tap="logOutUser">Logout</paper-button></paper-item>
                </paper-listbox>
              </iron-dropdown>
            </div>
          </template>
          <template is="dom-if" if="{{!username}}">
            <paper-button class="route" id="login" on-tap="changeURL">Login</paper-button>
            <paper-button class="route" id="signup" on-tap="changeURL">Sign Up</paper-button>
          </template>
        </paper-toolbar>
    </paper-header-panel>
  </template>
  <script>System.import('components/navbar/navbar-element.ts');</script>
</dom-module>
