<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../node_modules/video-viewer-component/video-viewer.component.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">

<dom-module id="prendus-view-video-router">
    <template>
        <redux-store on-statechange="mapStateToThis"></redux-store>

        <app-route route="[[route]]" pattern="/course/:courseId/video/:videoId" data="{{data}}"></app-route>

        <prendus-video-viewer course="[[data.courseId]]" content="[[data.videoId]]" user-full-name="[[userFullName]]" user-email="[[userEmail]]"></prendus-video-viewer>
    </template>

    <script>System.import('/components/view-video-router/view-video-router.component.ts');</script>
</dom-module>
