<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/paper-card/paper-card.html" rel="import">
<link href="../../bower_components/paper-dialog/paper-dialog.html" rel="import">
<link href="../../bower_components/paper-tags-input/paper-tags-input.html" rel="import">
<link rel="import" href="../prendus-course-preview/prendus-course-preview.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">
<link rel="import" href="../prendus-search-course-tags/prendus-search-course-tags.html">
<dom-module id="prendus-course-homepage">
  <style>
    .courses-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
    }
    .course-preview {
      margin: 10px;
      flex-basis: 30%;
      flex-grow: 0;
      min-width: 0;
    }
    #add-fab-button {
      position: fixed;
      right: 5%;
      bottom: 6%;
      z-index: 10;
    }
    #add-course-dialog{
      width: 33%;
      min-width: 300px;
    }
    paper-button.indigo {
      background-color: var(--paper-indigo-500);
      color: white;
      --paper-button-raised-keyboard-focus: {
        background-color: var(--paper-pink-a200) !important;
        color: white !important;
      };
    }

    @media (max-width: 768px) {
      .course-preview {
        flex-basis: 45%;
      }
    }

  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <iron-ajax id="sharedWithMeCourseAjax" method="post" content-type="application/json" handle-as="json"></iron-ajax>

    <template is="dom-if" if="[[userCourses.length]]">
      <h1>My Courses</h1>
      <div class="courses-container">
        <template id="my-courses" is="dom-repeat" items="[[userCourses]]">
          <prendus-course-preview class="course-preview" course="[[item]]"></prendus-course-preview>
        </template>
      </div>
      <paper-fab id="add-fab-button" icon="add" title="Add Course" on-tap="addCourse"></paper-fab>
    </template>
    <prendus-search-course-tags></prendus-search-course-tags>
    <paper-dialog id="add-course-dialog" modal>
      <paper-dialog-scrollable>
        <h2>Create a Course</h2>
        <div>
          <!-- Look up Iron keys to change this -->
          <paper-input name="courseName" label="Course Name" id ="courseFormName" required auto-validate empty-error-message="Course Name Required" maxlength="50"></paper-input>
          <paper-input name="courseDescription" label="Short Description" id="courseDescription" required auto-validate maxlength="150"></paper-input>
          <paper-tags-input placeholder="Add a tag to the course (optional). Press enter to add another tag." label="Course Tags" id="tags" duplicate-error-message="Tag cannot be a duplicate" tags="[[tags]]"></paper-tags-input>
          <paper-button dialog-dismiss>Cancel</paper-button>
          <paper-button on-tap="addCourseFormDone">Next</paper-button>
        </div>
        <div class="buttons">
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>

    <h1 hidden$="[[!starredCourses.length]]">Starred Courses</h1>
    <div class="courses-container">
      <template id="starred-courses" is="dom-repeat" items="[[starredCourses]]">
        <prendus-course-preview class="course-preview" course="[[item]]"></prendus-course-preview>
      </template>
    </div>

    <h1 hidden$="[[!sharedCourses.length]]">Courses shared with me</h1>
    <div class="courses-container">
      <template id="shared-with-me-courses" is="dom-repeat" items="[[sharedCourses]]">
        <prendus-course-preview class="course-preview" course="[[item]]"></prendus-course-preview>
      </template>
    </div>

    <template is="dom-if" if="[[!userCourses.length]]">
      <h2>Create Your Own Course</h2>
      <paper-button icon="add" class="indigo" title="Add Course" on-tap="addCourse">Create Course</paper-button>
      <h2>Recommended Courses</h2>
      <template id="recommended-courses" is="dom-repeat" items="[[publicCourses]]">
        <prendus-course-preview course="[[item]]"></prendus-course-preview>
      </template>
    </template>

    <prendus-notification errorMessage="[[errorMessage]]"></prendus-notification>
  </template>

  <!--<script src="prendus-course-homepage.js"></script>-->
</dom-module>