<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/paper-card/paper-card.html" rel="import">
<link href="../../bower_components/paper-dialog/paper-dialog.html" rel="import">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link href="../../bower_components/iron-pages/iron-pages.html" rel="import">
<link href="../../bower_components/iron-selector/iron-selector.html" rel="import">

<dom-module id="prendus-course-homepage">
  <style>
    /* CSS rules for your element */
    :host {
      display: block;
    }
    #addFabButton{
      margin-top: 2%;
    }
    #addCourseDialog{
      width: 33%;
      height: 25%;
    }
  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <iron-ajax id="sharedWithMeCourseAjax" method="post" content-type="application/json" handle-as="json"></iron-ajax>

    <h1>My Courses</h1>
    <template id="courseList" is="dom-repeat" items="[[userCourses]]">
        <!--TODO make a component for this-->
      <paper-card heading="[[item.title]]">
        <div class="card-content">[[item.description]]</div>
        <div class="card-actions">
          <paper-button id="[[item.id]]" on-tap="editCourse">Edit</paper-button>  <!-- Go to page from here -->
          <paper-button id="[[item.id]]" on-tap="viewCourse">View</paper-button>
        </div>
      </paper-card>
      <!--TODO make a component for this-->
    </template>
    <br>
    <paper-fab id="addFabButton" icon = "add" title = "Add Course" on-tap="addCourse"></paper-fab>

    <paper-dialog id = "addCourseDialog" modal>
      <h2>Create a Course</h2>
      <div>
        <!-- Look up Iron keys to change this -->
        <paper-input name="name" label="Course Name" id ="courseFormName" required auto-validate></paper-input>
        <paper-input name="name" label="Short Description" id ="courseDescription" required auto-validate></paper-input>
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button on-tap="addCourseFormDone">Next</paper-button>
      </div>
      <div class="buttons">
      </div>
    </paper-dialog>

    <h1>Starred Courses</h1>

    <template id="courseList" is="dom-repeat" items="[[starredCourses]]">
        <!--TODO make a component for this-->
      <paper-card heading="[[item.title]]">
        <div class="card-content">Create a Description</div>
        <div class="card-actions">
          <paper-button id="[[item.id]]" on-tap="editCourse">Edit</paper-button>  <!-- Go to page from here -->
          <paper-button id="[[item.id]]" on-tap="viewCourse">View</paper-button>
        </div>
      </paper-card>
      <!--TODO make a component for this-->
    </template>

    <h1>Courses shared with me</h1>

    <template id="courseList" is="dom-repeat" items="[[sharedCourses]]">
        <!--TODO make a component for this-->
      <paper-card heading="[[item.title]]">
        <div class="card-content">Create a Description</div>
        <div class="card-actions">
          <paper-button id="[[item.id]]" on-tap="editCourse">Edit</paper-button>  <!-- Go to page from here -->
          <paper-button id="[[item.id]]" on-tap="viewCourse">View</paper-button>
        </div>
      </paper-card>
      <!--TODO make a component for this-->
    </template>

  </template>

  <!--<script src="prendus-course-homepage.js"></script>-->
</dom-module>
