<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-concept-video-container/prendus-concept-video-container.html">
<link rel="import" href="../prendus-concept-quiz-container/prendus-concept-quiz-container.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../styles/color-styles.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">

<dom-module id="prendus-concept-container">
  <template>
    <style include="color-styles"></style>
    <style>
      paper-tab {
        text-transform: uppercase;
      }

      #title-toggle {
        margin: 0;
        cursor: pointer;
      }

      #resource-tabs {
        --paper-tabs-selection-bar-color: var(--prendus-primary-color);
      }
    </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <h3 id="title-toggle" on-tap="toggle">[[title]]</h3>
    <iron-collapse class="conceptToggle" id="concept-[[item.pos]]">
        <paper-tabs id="resource-tabs" selected="{{selected}}">
          <paper-tab>Quizzes</paper-tab>
          <paper-tab>Videos</paper-tab>
        </paper-tabs>
        <iron-pages selected="[[selected]]">
          <prendus-concept-quiz-container course-id="[[courseId]]" concept-id="[[conceptId]]"></prendus-concept-quiz-container>
          <prendus-concept-video-container concept-id="[[conceptId]]"></prendus-concept-video-container>
        </iron-pages>
    </iron-collapse>
  </template>
  <prendus-notification error-message="[[errorMessage]]"></prendus-notification>
  <!-- <script>System.import('/components/prendus-concept-container/prendus-concept-container.ts');</script> -->
</dom-module>
