<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="prendus-concept-quiz-container">
  <template>

		<style include="color-styles"></style>
    <style>

      :host {
        display: block;
        padding: 10px;
      }

      .quiz-row {
				display: flex;
				align-items: center;
        padding: 10px;
        cursor: pointer;
      }

      .quiz-icon {
        color: rgba(0, 0, 0, .5);
      }

      .quiz-icon:hover {
        color: rgba(0, 0, 0, .8);
      }

			.quiz-title {
				flex-grow: 1;
			}

      .delete-button {
        color: white;
        background: red;
      }

      .add-quiz-button {
        background-color: var(--prendus-primary-color);
        color: white;
      }

			@media (max-width: 500px) {

				.quiz-row {
					flex-direction: column;
					align-items: flex-start;
				}

			}

    </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <template is="dom-repeat" items="[[quizzes]]" as="quiz">
      <iron-ajax method="get" id="getLTIajax" url="[[endpointDomain]]/api/lti/jwt/[[jwt]]/course/[[courseId]]/secret" content-type="application/json" handle-as="json"></iron-ajax>
      <div class="quiz-row" on-tap="viewQuiz">
				<span class="quiz-title">[[quiz.title]]</span>
				<div class="quiz-icons">
					<template is="dom-if" if="[[quiz.hasEditAccess]]">
            <paper-icon-button id="LTI-quiz-links[[quiz.id]]" class="quiz-icon" icon="link" on-tap="getLTILinks"></paper-icon-button>
						<paper-tooltip for="LTI-quiz-links[[quiz.id]]" offset="0" animation-delay="300">Get LTI Link</paper-tooltip>
            <paper-icon-button id="edit-quiz[[quiz.id]]" class="quiz-icon" icon="create" on-tap="editQuiz"></paper-icon-button>
						<paper-tooltip for="edit-quiz[[quiz.id]]" offset="0" animation-delay="300">Edit Quiz</paper-tooltip>
						<paper-icon-button id="delete-quiz[[quiz.id]]" class="quiz-icon" icon="delete" on-tap="openDeleteModal" delete="[[quiz.id]]"></paper-icon-button>
						<paper-tooltip for="delete-quiz[[quiz.id]]" offset="0" animation-delay="300">Delete Quiz</paper-tooltip>
					</template>
				</div>
      </div>
    </template>
    <h4 hidden$="[[hasQuizzes(quizzes)]]">This concept doesn't have any quizzes yet.</h4>
    <template is="dom-if" if="[[courseEditAccess]]">
      <paper-button class="add-quiz-button" on-tap="addQuiz"><iron-icon icon="add"></iron-icon>Add Quiz</paper-button>
    </template>
    <paper-dialog id="confirm-delete-modal" modal>
      <h2>Confirm Delete</h2>
      <p>Are you sure you want to delete this quiz?  If you delete it, collaborators will lose access.</p>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button class="delete-button" on-tap="deleteQuiz">Delete</paper-button>
      </div>
    </paper-dialog>
    <paper-dialog id="get-quiz-lti-link" with-backdrop>
      <h2>LTI links for [[quiz.title]]</h2>
      <p>Copy this link to put in your course.</p>
      <p>Course link goes here</p>
    </paper-dialog>
    <prendus-notification error-message="[[errorMessage]]" success-message="[[successMessage]]"></prendus-notification>
  </template>

  <script src="prendus-concept-quiz-container.ts"></script>
</dom-module>
