<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../prendus-concept-video-container-edit/prendus-concept-video-container-edit.html">
<link rel="import" href="../prendus-concept-quiz-container/prendus-concept-quiz-container.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">

<link rel="import" href="../../node_modules/prendus-services/styles/prendus-styles.html">

<dom-module id="prendus-concept-container-edit">
  <template>

  
  <style include="prendus-styles">

    paper-tabs {
      --paper-tabs-selection-bar-color: var(--prendus-primary-color);
      text-transform: uppercase;
    }

		paper-tab {
		}

    .title-buttons {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
    }

    .title-buttons > * + * {
      margin-left: 10px;
    }

		.title-action-buttons {
			min-width: 0;
			display: flex;
			align-items: center;
			flex-grow: 1;
		}

		.action-buttons {
			flex-shrink: 0;
		}

		.icon-button {
			color: rgba(0, 0, 0, .5);
			flex-shrink: 0;
		}

		.icon-button:hover {
			color: rgba(0, 0, 0, .8);
		}

    .concept-title {
			min-width: 0;
			padding: 0 8px;
			flex-grow: 1;
      margin: 0;
    }

		#confirm-delete {
			background-color: var(--prendus-red);
			color: white;
		}

		@media (max-width: 500px) {

			.title-action-buttons {
				flex-direction: column;
				align-items: flex-start;
			}

		}

  </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

		<!-- <prendus-collaborator-modal id="collaborators-modal" course-id="[[courseId]]" concept-id="[[conceptId]]" concept></prendus-collaborator-modal> -->
    <prendus-notification id="notification" success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>
    <div class="title-buttons" on-tap="toggle">
      <iron-icon id="drag-handle" class="icon-button" icon="editor:drag-handle"></iron-icon>
			<paper-tooltip for="drag-handle" offset="0" animation-delay="300">Drag to change concept order</paper-tooltip>
			<div class="title-action-buttons">
				<h3 class="concept-title">[[title]]</h3>
				<div class="action-buttons">
					<paper-icon-button id="edit-button" class="icon-button" icon="create" on-tap="editConcept"></paper-icon-button>
					<paper-tooltip for="edit-button" offset="0" animation-delay="300">Edit concept</paper-tooltip>
					<!-- <paper-icon-button id="collaborator-button" class="icon-button" icon="social:group-add" on-tap="openCollaboratorsModal"></paper-icon-button>
					<paper-tooltip for="collaborator-button" offset="0" animation-delay="300">Edit collaborators</paper-tooltip> -->
					<paper-icon-button id="delete-button" class="icon-button" icon="delete" on-tap="openDeleteModal"></paper-icon-button>
					<paper-tooltip for="delete-button" offset="0" animation-delay="300">Delete concept</paper-tooltip>
				</div>
			</div>
    </div>
    <iron-collapse id="collapsible-section">
      <div id="collapsible-content">
        <paper-tabs id="resource-tabs" selected="{{selected}}" noink>
            <paper-tab>Quizzes</paper-tab>
            <paper-tab>Videos</paper-tab>
        </paper-tabs>
        <iron-pages selected="[[selected]]">
          <prendus-concept-quiz-container course-id="[[courseId]]" concept-id="[[conceptId]]"></prendus-concept-quiz-container>
          <prendus-concept-video-container-edit concept-id="[[conceptId]]"></prendus-concept-video-container-edit>
        </iron-pages>
      </div>
    </iron-collapse>

    <paper-dialog id="delete-confirm-modal" with-backdrop>
      <h2>Delete Concept</h2>
      <p>Are you sure that you want to delete this concept?</p>
			<div class="buttons">
				<paper-button dialog-dismiss>Cancel</paper-button>
				<paper-button id="confirm-delete" on-tap="completeDelete">Delete</paper-button>
			</div>
    </paper-dialog>

  </template>
  <script src="prendus-concept-container-edit.ts"></script>
</dom-module>
