<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/iron-collapse/iron-collapse.html" rel="import">
<link href="../../bower_components/iron-icons/editor-icons.html" rel="import">
<link href="../../bower_components/iron-icons/iron-icons.html" rel="import">
<link href="../../bower_components/iron-icons/social-icons.html" rel="import">
<link href="../../bower_components/paper-tooltip/paper-tooltip.html" rel="import">
<link href="../prendus-concept-video-container-edit/prendus-concept-video-container-edit.html" rel="import">
<link href="../prendus-concept-quiz-container-edit/prendus-concept-quiz-container-edit.html" rel="import">
<link href="../prendus-notification/prendus-notification.html" rel="import">

<link rel="import" href="../../styles/color-styles.html">

<dom-module id="prendus-concept-container-edit">
  <template>

  <style include="color-styles"></style>
  <style>

    #resource-tabs {
      --paper-tabs-selection-bar-color: var(--prendus-primary-color);
      text-transform: uppercase;
    }

    #title-buttons {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
    }

    .drag-icon {
      visibility: hidden;
    }

    #title-buttons:hover .drag-icon {
      visibility: visible;
    }

    #title-buttons > * + * {
      margin-left: 10px;
    }

    #concept-title {
      margin: 0;
      flex-grow: 1;
    }
    #confirm-delete-title{
      color: red;
    }

  </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <prendus-notification success-message="[[successMessage]]"></prendus-notification>
    <prendus-notification error-message="[[errorMessage]]"></prendus-notification>

    <div id="title-buttons" on-tap="toggle">
      <iron-icon class="drag-icon" icon="editor:drag-handle"></iron-icon>
      <h3 id="concept-title">[[title]]
        <template is="dom-if" if="[[tags]]">
          Tags:
          <template is="dom-repeat" items="[[tags]]">
            [[item.name]]
          </template>
        </template>
      </h3>
      <iron-icon id="collaborator-button" icon="social:group-add" on-tap="openCollaboratorsModal"></iron-icon>
      <paper-tooltip for="collaborator-button" offset="0" animation-delay="300">Edit Collaborators</paper-tooltip>
      <prendus-collaborator-modal id="collaborators-modal" course-id="[[courseId]]" concept-id="[[item.id]]" concept></prendus-collaborator-modal>
      <iron-icon id="delete-button" icon="delete" on-tap="deleteItem"></iron-icon></iron-icon>
      <paper-tooltip for="delete-button" offset="0" animation-delay="300">Delete Concept</paper-tooltip>
    </div>
    <iron-collapse id="collapsible-section">
      <div id="callapsible-content">
        <paper-tabs id="resource-tabs" selected="{{selected}}">
            <paper-tab>Quizzes</paper-tab>
            <paper-tab>Videos</paper-tab>
        </paper-tabs>
        <iron-pages selected="[[selected]]">
          <prendus-concept-quiz-container-edit concept-id="[[conceptId]]"></prendus-concept-quiz-container-edit>
          <prendus-concept-video-container-edit concept-id="[[conceptId]]"></prendus-concept-video-container-edit>
        </iron-pages>
      </div>
    </iron-collapse>
    <paper-dialog id="delete-confirm-modal" modal>
        <!-- Look up Iron keys to change this -->
        <form is="iron-form">
          <h1 id="confirm-delete-title">Confirm Delete </h1>
          <p>Are you sure that you want to delete this concept?
          <paper-button dialog-dismiss>No</paper-button>
          <paper-button id="confirmDelete" on-tap="completeDelete">Yes</paper-button>
        </form>
    </paper-dialog>
  </template>
  <!-- <script>System.import('/components/prendus-concept-container-edit/prendus-concept-container-edit.ts');</script> -->
</dom-module>
