<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../prendus-video-editor/prendus-video-editor.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">

<dom-module id="prendus-lesson-video-container-edit">
    <template>

        <style include="prendus-styles">

					:host {
						display: block;
						padding: 10px;
					}

          #editVideoDialog {
            width: calc(100% - 40px);
            max-width: 800px;
          }

					.video-row {
						display: flex;
						align-items: center;
						padding: 10px;
						cursor: pointer;
					}

					.video-row + .video-row {
						border-top: solid lightgrey 1px;
					}

					.video-blankslate {
						padding: 10px;
					}

        </style>

        <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

        <paper-dialog id="editVideoDialog" with-backdrop>
          <paper-dialog-scrollable>
            <prendus-video-editor id="videoEditor" lesson-id="[[lessonId]]" video-id="[[currentVideoId]]" title="{{currentVideoTitle}}" url="{{currentVideoUrl}}" on-save="saveVideo" on-delete="deleteVideo"></prendus-video-editor>
          </paper-dialog-scrollable>
        </paper-dialog>

        <template is="dom-repeat" items="[[videos]]">
            <div class="video-row" on-tap="videoRowClick">[[item.title]]</div>
        </template>
				<h4 class="video-blankslate" hidden$="[[hasVideos(videos)]]">This lesson doesn't have any videos yet.</h4>
        <button class="prendus-button prendus-button--recommended" on-tap="addVideo"><iron-icon icon="add"></iron-icon>Add video</button>
    </template>

    <script src="prendus-lesson-video-container-edit.ts"></script>
</dom-module>
