<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<dom-module id="prendus-question-scaffold-explanation">

  <style include="prendus-styles">
    :host {
      display: block;
    }
  </style>

  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <paper-input label="Explanation" value="{{explanation}}"></paper-input>
  </template>

  <script src="prendus-question-scaffold-explanation.ts"></script>
</dom-module>
