<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">

<dom-module id="prendus-video-editor">
    <template>
        <div style="position: relative">
            <div style="position: absolute; right: -25px; top: -40px">
                <paper-menu-button ignore-select no-animations allow-outside-scroll>
                  <paper-icon-button icon="more-vert" title="concept settings" class="dropdown-trigger"></paper-icon-button>
                  <paper-menu class="dropdown-content" selected="null" style="padding: 15px">
                      <paper-submenu>
                          <paper-item class="menu-trigger">Collaborators</paper-item>
                          <paper-menu class="menu-content">
                              <!--TODO this span is here to stop the default selection of items. It is a hack, get rid of it if possible-->
                              <span></span>
                              <!--TODO this span is here to stop the default selection of items. It is a hack, get rid of it if possible-->
                              <prendus-collaborator-menu-content video-id="[[videoId]]"></prendus-collaborator-menu-content>
                          </paper-menu>
                      </paper-submenu>
                      <template is="dom-if" if="[[videoId]]">
                          <paper-item on-tap="deleteClick">Delete</paper-item>
                      </template>
                  </paper-menu>
                </paper-menu-button>
            </div>

            <div style="display: flex; flex-direction: column">
                <paper-input id="titleInput" label="video title" on-input="updateTitle" value="[[title]]"></paper-input>
                <paper-input id="urlInput" label="video url" on-input="updateUrl" value="[[url]]"></paper-input>
                <div style="display: flex; flex-direction: row; margin-bottom: 25px">
                    <paper-button on-tap="saveClick" raised>Save</paper-button>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                    <video src="[[url]]" controls></video>
                </div>
            </div>
        </div>

        <paper-toast id="savedToast" text="Video saved"></paper-toast>
    </template>

    <!--<script src="prendus-video-editor.js"></script>-->
</dom-module>
