<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/prendus-video-viewer-component/prendus-video-viewer.html">
<link rel="import" href="../../node_modules/prendus-services/styles/prendus-styles.html">

<dom-module id="prendus-video-editor">
    <template>
			
      <style include="prendus-styles">

        :host > * + * {
          margin-top: 10px;
        }

        prendus-video-viewer {
          display: block;
        }

				#save {
					background-color: var(--prendus-primary-color);
					color: white;
				}

      </style>

      <div>

        <!-- TODO add this back once we're ready for collaborators-->
        <!-- <paper-icon-button icon="social:group-add" on-tap="openCollaboratorsModal"></paper-icon-button> -->
        <!-- <prendus-collaborator-modal id="collaborators-modal" concept-id="[[conceptId]]" video-id="[[videoId]]" video></prendus-collaborator-modal> -->
        <paper-icon-button icon="delete" on-tap="deleteVideo"></paper-icon-button>
      </div>
      <paper-input id="titleInput" label="Video Title" on-input="updateTitle" value="[[title]]"></paper-input>
      <paper-input id="urlInput" label="Video URL" on-input="updateUrl" value="[[url]]"></paper-input>
      <paper-button id="save" on-tap="saveVideo" noink>Save</paper-button>
      <prendus-video-viewer url="[[url]]" no-xapi></prendus-video-viewer>
      <paper-toast id="savedToast" text="Video saved"></paper-toast>
    </template>

    <script src="prendus-video-editor.ts"></script>
</dom-module>
