<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="prendus-lesson-quiz-container">

  <template>

    <style include="prendus-styles">

      :host {
        display: block;
        padding: 10px;
      }

      .quiz-row {
				display: flex;
				align-items: center;
        padding: 10px;
        cursor: pointer;
      }

			.quiz-row + .quiz-row {
				border-top: solid lightgrey 1px;
			}

			.quiz-blankslate {
				padding: 10px;
			}

			.quiz-title {
				/* min-width: 0; keeps text from overflowing a flexbox container */
				min-width: 0;
				flex-grow: 1;
			}

			.quiz-icons {
				flex-shrink: 0;
			}

			@media (max-width: 500px) {

				.quiz-row {
					display: block;
				}

			}

    </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <template is="dom-repeat" items="[[quizzes]]" as="quiz">
      <iron-ajax method="get" id="getLTIajax" url="[[endpointDomain]]/api/lti/jwt/[[jwt]]/course/[[courseId]]/secret" content-type="application/json" handle-as="json"></iron-ajax>
      <div class="quiz-row" on-tap="viewQuiz">
				<span class="quiz-title">[[quiz.title]]</span>
				<div class="quiz-icons">
					<template is="dom-if" if="[[quiz.hasEditAccess]]">
            <paper-icon-button id="LTI-quiz-links[[quiz.id]]" class="prendus-icon-button" data-quiz="[[quiz.id]]" class="quiz-icon" icon="link" on-tap="getLTILinks"></paper-icon-button>
						<paper-tooltip for="LTI-quiz-links[[quiz.id]]" offset="0" animation-delay="300">Get LTI Link</paper-tooltip>
						<paper-icon-button id="edit-quiz[[quiz.id]]" class="prendus-icon-button" icon="create" on-tap="editQuiz"></paper-icon-button>
						<paper-tooltip for="edit-quiz[[quiz.id]]" offset="0" animation-delay="300">Edit Quiz</paper-tooltip>
						<paper-icon-button id="delete-quiz[[quiz.id]]" class="prendus-icon-button" icon="delete" on-tap="openDeleteModal" delete="[[quiz.id]]"></paper-icon-button>
						<paper-tooltip for="delete-quiz[[quiz.id]]" offset="0" animation-delay="300">Delete Quiz</paper-tooltip>
					</template>
				</div>
      </div>
    </template>

    <h4 class="quiz-blankslate" hidden$="[[hasQuizzes(quizzes)]]">This lesson doesn't have any quizzes yet.</h4>
    <template is="dom-if" if="[[courseEditAccess]]">
      <a class="prendus-button prendus-button--recommended" href="courses/edit-quiz/course/[[courseId]]/lesson/[[lessonId]]/quiz/create"><iron-icon icon="add"></iron-icon>Add Quiz</a>
    </template>

    <paper-dialog id="confirm-delete-modal" with-backdrop>
			<div class="content">
				<h2>Confirm Delete</h2>
				<p>Are you sure you want to delete this quiz?  If you delete it, collaborators will lose access.</p>
			</div>
      <div class="buttons">
        <button class="prendus-button prendus-button--minor" dialog-dismiss>Cancel</button>
        <button class="prendus-button prendus-button--destructive" on-tap="deleteQuiz">Delete</button>
      </div>
    </paper-dialog>

    <paper-dialog id="get-quiz-lti-link" with-backdrop>
      <paper-dialog-scrollable>
        <div class="content">
          <h2>LTI links for</h2>
          <h3>Key</h3>
          <paper-textarea value="[[courseId]]"></paper-textarea>
          <h3>Secret</h3>
          <paper-textarea value="[[secret]]"></paper-textarea>
          <h3>Copy this link to put in your course.</h3>
          <paper-textarea value="[[ltiLink]]"></paper-textarea>
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>
  </template>

  <script src="prendus-lesson-quiz-container.ts"></script>
</dom-module>
