<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../prendus-video-editor/prendus-video-editor.html">
<link href="../../bower_components/paper-button/paper-button.html" rel="import">
<link rel="import" href="../../styles/color-styles.html">

<dom-module id="prendus-concept-video-container-edit">
    <template>
        <style include="color-styles"></style>
        <style>
            .video-row {
                padding: 20px;
                cursor: pointer;
            }
            paper-button.addResource {
              background-color: var(--prendus-primary-color);
              color: white;
              margin-top: 2%;
              margin-bottom: 2%;
            }
        </style>

        <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

        <paper-dialog id="editVideoDialog" with-backdrop style="padding: 20px">
            <prendus-video-editor id="videoEditor" concept-id="[[conceptId]]" video-id="[[currentVideoId]]" title="{{currentVideoTitle}}" url="{{currentVideoUrl}}" on-save="saveVideo" on-delete="deleteVideo"></prendus-video-editor>
        </paper-dialog>
        <template is="dom-repeat" items="[[videos]]">
            <div class="video-row" on-tap="videoRowClick">[[item.title]]</div>
        </template>
        <paper-button class="addResource" raised ="true" icon = "add" title = "Add Video" on-tap="addVideoClick">Add Video</paper-button>
    </template>

    <!--<script src="prendus-concept-video-container-edit.js"></script>-->
</dom-module>
