<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../prendus-video-editor/prendus-video-editor.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../styles/color-styles.html">

<dom-module id="prendus-concept-video-container-edit">
    <template>

        <style include="color-styles"></style>
        <style>

					:host {
						display: block;
						padding: 10px;
					}

          #editVideoDialog {
            width: calc(100% - 40px);
            max-width: 800px;
          }

					.video-row {
						display: flex;
						align-items: center;
						padding: 10px;
						cursor: pointer;
					}

          .add-video-button {
            background-color: var(--prendus-primary-color);
            color: white;
          }

        </style>

        <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

        <paper-dialog id="editVideoDialog" with-backdrop>
          <paper-dialog-scrollable>
            <prendus-video-editor id="videoEditor" concept-id="[[conceptId]]" video-id="[[currentVideoId]]" title="{{currentVideoTitle}}" url="{{currentVideoUrl}}" on-save="saveVideo" on-delete="deleteVideo"></prendus-video-editor>
          </paper-dialog-scrollable>
        </paper-dialog>
        <template is="dom-repeat" items="[[videos]]">
            <div class="video-row" on-tap="videoRowClick">[[item.title]]</div>
        </template>
				<h4 hidden$="[[hasVideos(videos)]]">This concept doesn't have any videos yet.</h4>
        <paper-button class="add-video-button" on-tap="addVideo"><iron-icon icon="add"></iron-icon>Add Video</paper-button>
    </template>

    <script src="prendus-concept-video-container-edit.ts"></script>
</dom-module>
