<link href="../../bower_components/polymer/polymer.html" rel="import">

<dom-module id="prendus-privacy-policy">
  <style include="prendus-styles">

  </style>
  <template>
    <h1>Prendus Privacy policy </h1>

    <h2>Our privacy policy includes:</h2>
     	  <ul>
          <li>Information we collect</li>
          <li>How data is secured</li>
          <li>How we use collected information</li>
          <li>Your rights to create, update, view, and delete data.</li>
        </ul>

    <h2>Information we collect</h2>
    <ul>
      <li>Information you provide online</li>
      <li>Information from xAPI</li>
    </ul>
    <h3>Information you provide online</h3>
    <p> The information you provide online is kept securely on private servers with limited access. While no financial information is collected, personal data such as names, emails, and other identifying information is important and needs to be secure.
    <h4>Private Information</h4>
    <p>  The information you provide through forms includes email, passwords, and other meta data such as your name and institution.</p>
    <h4>  Public Information </h4>
    <p>  Learning resources created are public domain licensed under the
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br /><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a> unless explicitly stated.  Information you create is available for others to reuse, revise, and remix at their discretion. You may only create materials from your own use or use openly licensed materials. For example, you may not copy quiz questions from another site into your course, unless the quiz questions are under an open license like creative commons. Videos are only streamed through our site, so videos can be added to a course as long as there are no streaming restrictions. Proprietary videos and videos hosted on YouTube are all permissible. Always check the license on a video before adding it to a course.</p>

    <h3 id="xapi-info">  Information from xAPI </h3>
    <p>If you access our services through a Learning Management System (LMS), certain information is provided through xAPI. This information includes your LMS username, the LMS you are using, and click-level interactions with the education tools.  Examples of click-level interactions are pressing pause, play, fast-forward, or mute on a video, or clicking to submit an answer to a question.
    <h3>Information from interactions with the website</h3>
    <h4>	Google Analytics </h4>
     <p>We track visitors to the site through Google Analytics. Details about what information is tracked can be found on the <a href = "https://www.google.com/analytics/standard/features/#?feature=site-reporting" >Google Analytics</a> page.</p>
    <h4>	Our own click-level analytics </h4>
    <p>We track interactions with our learning products as mentioned in the Information from xAPI section.<p>

    <h2>Securing your data</h2>
    <p>Your data is stored on secure servers. Only authorized personnel at Prendus have access to the servers. Nobody, not even employees, has access to user passwords.</p>
    <p>Quiz, video, concept, and course data licensed under creative commons is available for anyone to use. </p>
    <p> Data is encrypted using SSL. </p>

    <h2>Control over your data</h2>
    <p> You have control over your personal data to add, edit, or remove data from your profile. Any personal data you delete cannot be recovered.</p>
    <p> Information you create for the course with the free account is creative commons data.  As creator of a course, you have the ability to add, edit, or remove data from the course. This data, however, is open for others to copy and use at their discretion. Because the data is under a creative commons license, you will not be able to delete the content.</p>
    <p> Plagiarized content will be removed immediately and the owners posting the content will be warned.  Elicit content will also be removed and the owners warned. </p>
    <p> All interactions with the data will be stored and analyzed to enhance the product and may be used for publishing purposes. Any data used for publication will be reported at the aggregate level and no personal data will be used in any publication. Even if an account is deleted this interaction data will persist. </p>
  </template>

  <script src="prendus-privacy-policy.ts"></script>
</dom-module>
