<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<dom-module id="prendus-question-scaffold-new-question">

  <style include="prendus-styles">
    :host {
      display: block;
    }


  </style>

  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
      <!--TODO change to one-way data binding.-->
      <paper-input label="Question" value="{{question}}"></paper-input>

      <!--TODO change to one-way data binding.-->
      <paper-input label="Answer" value="{{answer}}"></paper-input>
  </template>

  <script src="prendus-question-scaffold-new-question.ts"></script>
</dom-module>
