<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-char-counter.html">
<link rel="import" href="../../bower_components/Sortable/Sortable.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<!-- <link rel="import" href="../../bower_components/prendus-paper-tags-input/prendus-paper-tags-input.html"> -->
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">

<dom-module id="prendus-lesson-edit-modal">
  <template>

    <style include="prendus-styles">

    </style>

    <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>

    <paper-dialog id="dialog" with-backdrop>
			<div class="content">
				<h2>[[lessonHeader]]</h2>
				<paper-input id="lesson-name" label="Lesson Name" value="{{lessonFormName}}" maxlength="50" required auto-validate on-keydown="updateLessonIfEnter" error-message="Please enter a title"></paper-input>
				<!-- <prendus-paper-tags-input id="concept-tags" placeholder="Delete tags or add new ones" tags="[[conceptTagNames]]" on-add="onAdd" on-remove="onRemove" duplicate-error-message="Tag cannot be a duplicate" required></prendus-paper-tags-input> -->
			</div>
			<div class="buttons">
				<button class="prendus-button prendus-button--minor" dialog-dismiss on-tap="clearValues">Cancel</button>
				<button class="prendus-button prendus-button--recommended" disabled$=[[!enableLessonSubmission(newLessonName)]] on-tap="updateLesson">Add</button>
			</div>
    </paper-dialog>
  </template>

  <script src="prendus-lesson-edit-modal.ts"></script>
</dom-module>
