<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<dom-module id="concept-container">
  <template>
    <p> Hello World </p> 
  </template>
  <script>System.import('/components/concept-container/concept-container.ts');</script>
</dom-module>
