<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/prendus-quiz-viewer-component/prendus-quiz-viewer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../node_modules/prendus-services/styles/prendus-styles.html">

<dom-module id="prendus-view-quiz-router">

	<template>

	  <style include="prendus-styles">
	    :host {
	      display: block;
	    }

	    #quiz-container {
	      width: 100%;
	    }

			iron-icon {
				padding: 5px;
			}

	  </style>

        <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
        <app-route route="[[route]]" pattern="/view-quiz/course/:courseId/concept/:conceptId/quiz/:quizId" data="{{data}}"></app-route>
        <paper-card id="quiz-container">
          <div class="card-content">
						<template is="dom-if" if="[[!userEmail]]">
							<p>We are working on getting access to the content without signing up. For now if you would like to view specific quiz questions, please <a href="/login">log in</a> or <a href="/sign up">create an account</a> to get started.</p>
						</template>
						<template is="dom-if" if="[[userEmail]]">
							<a href="/courses/view/[[data.courseId]]"><paper-button><iron-icon icon="undo"></iron-icon> Back to course</paper-button></a>
							<prendus-quiz-viewer has-edit-access="[[hasEditAccess]]" jwt="[[jwt]]" course-id="[[data.courseId]]" concept-id="[[data.conceptId]]" quiz-id="[[data.quizId]]" user-full-name="[[userFullName]]" user-email="[[userEmail]]" on-quizsubmissionstarted="quizSubmissionStarted" on-quizsubmissionfinished="quizSubmissionFinished"></prendus-quiz-viewer>
						</template>
          </div>
        </paper-card>

    </template>

    <script src="prendus-view-quiz-router.ts"></script>
</dom-module>
