<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/view-quiz-component/view-quiz.component.html">
<link href="../../bower_components/redux-store-element/redux-store.html" rel="import">

<dom-module id="prendus-view-quiz-router">
  <style>
    :host {
      display: block;
    }

    #quiz-container {
      width: 100%;
    }

  </style>
    <template>
        <redux-store on-statechange="mapStateToThis"></redux-store>
        <app-route route="[[route]]" pattern="/view-quiz/course/:courseId/concept/:conceptId/quiz/:quizId" data="{{data}}"></app-route>
        <template is="dom-if" if="[[!userEmail]]">
          <paper-card id="signInMessageCard" heading ="Log in to view quizzes">
            <div class= "card-content">
              <p>Sorry! We are working on getting access to the content without signing up. For now if you would like to view specific quiz questions, please log in or create an account to get started.  It's free, and it's worth it!</p>
            </div>
            <paper-button id="courses/home" on-click="changeRoute">Back to Browse</paper-button>
            <div class="card-actions">
              <paper-button id="login" on-click="changeRoute">Log In</paper-button>
              <paper-button id="signup" on-click="changeRoute">Create Account</paper-button>
            </div>
          </paper-card>
        </template>
        <paper-card id="quiz-container">
          <div class="card-content">
            <prendus-view-quiz jwt="[[jwt]]" course-id="[[data.courseId]]" quiz-id="[[data.quizId]]" user-full-name="[[userFullName]]" user-email="[[userEmail]]" quiz-session-id="[[quizSessionId]]"></prendus-view-quiz>
          </div>
        </paper-card>

    </template>

    <!--<script src="prendus-view-quiz-router.html"></script>hello-->
</dom-module>
