<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">

<dom-module id="prendus-course-preview">
  <template>

    <style>

			:host {
				display: block;
			}

      .course-icon {
        color: rgba(0, 0, 0, .5);
      }

      .course-icon:hover {
        color: rgba(0, 0, 0, .8);
      }

      .course-card {
        cursor: pointer;
        width: 100%;
        --paper-card-header-text: {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .card-content {
        min-height: 150px;
      }

      .delete-button {
        color: white;
        background: red;
      }

    </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <a href="/courses/view/[[course.id]]"><paper-card class="course-card" heading="[[course.title]]">
      <div class="card-content">
        <template is="dom-if" if="[[course.description]]">
          <div>
            Description: [[course.description]]
          </div>
        </template>
        <!-- Placeholder for tags, don't display until 100% ready to do so. -->
        <!-- <template is="dom-if" if="[[course.tags.length]]">
          Tags:
          <template is="dom-repeat" items="[[course.tags]]">
            <div>
                [[item.name]]
            </div>
          </template>
        </template> -->
      </div>
      <div class="card-actions">
        <paper-icon-button id="star-course" class="course-icon" icon="[[starIcon]]" on-tap="starClick"></paper-icon-button>[[numStars]]
        <paper-tooltip for="star-course" offset="0" animation-delay="300">Star Course</paper-tooltip>
        <template is="dom-if" if="[[hasEditAccess]]">
          <a href="/courses/view/[[course.id]]"><paper-icon-button id="edit-course" class="course-icon" icon="create"></paper-icon-button></a>
          <paper-tooltip for="edit-course" offset="0" animation-delay="300">Edit Course</paper-tooltip>
          <paper-icon-button id="delete-course" class="course-icon" icon="delete" on-tap="openDeleteModal"></paper-icon-button>
          <paper-tooltip for="delete-course" offset="0" animation-delay="300">Delete Course</paper-tooltip>
        </template>
      </div>
    </paper-card></a>
    <paper-dialog id="confirm-delete-modal" modal>
      <h2>Confirm Delete</h2>
      <p>Are you sure you want to delete this course?  If you delete it, collaborators will lose access.</p>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button class="delete-button" on-tap="deleteCourse">Delete</paper-button>
      </div>
    </paper-dialog>
    <prendus-notification error-message="[[errorMessage]]"></prendus-notification>

  </template>

</dom-module>
