<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">

<dom-module id="prendus-course-preview">
    <template>
        <style>
            #star-icon {
                color: rgba(0, 0, 0, .5);
            }

            .course-card{
              margin: 1%;
            }
        </style>
        
        <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

        <paper-card heading="[[course.title]]" class = "course-card">
            <div>
                <paper-icon-button id="star-icon" icon="[[starIcon]]" title="click to star or unstar" on-tap="starClick"></paper-icon-button>
                <div>[[numStars]]</div>
            </div>

          <div class="card-content">[[course.description]]</div>
          <div class="card-actions">
            <paper-button id="[[course.id]]" on-tap="editCourse">Edit</paper-button>  <!-- Go to page from here -->
            <paper-button id="[[course.id]]" on-tap="viewCourse">View</paper-button>
          </div>
        </paper-card>
    </template>
</dom-module>
