<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">

<dom-module id="prendus-course-preview">
  <template>

    <style>

      #star-icon {
          color: rgba(0, 0, 0, .5);
      }

      .course-card {
        cursor: pointer;
        width: 100%;
      }

      .card-content {
        min-height: 150px;
        word-wrap: break-word;
      }
    </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <paper-card class="course-card" heading="[[course.title]]" on-tap="viewCourse">
      <div class="card-content">
        [[course.description]]
      </div>
      <div class="card-actions">
        <paper-icon-button id="star-icon" icon="[[starIcon]]" on-tap="starClick"></paper-icon-button>[[numStars]]
        <template is="dom-if" if="[[hasEditAccess]]">
          <paper-icon-button icon="create" on-tap="editCourse"></paper-icon-button>  <!-- Go to page from here -->
        </template>
      </div>
    </paper-card>
    <prendus-notification error-message = "[[errorMessage]]"></prendus-notification>

  </template>

</dom-module>
