<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-assignment-editor/prendus-assignment-editor.html">

<dom-module id="prendus-lesson-assignment-container">
    <template>
        <style>
            a.nostyle {
                text-decoration: inherit;
                color: inherit;
                cursor: auto;
            }
        </style>

        <redux-store action="[[action]]" on-statechange="stateChange"></redux-store>

        <template is="dom-repeat" items="[[assignments]]">
            <div style="padding: 10px; cursor: pointer">
                <a class="nostyle" href="course/[[courseId]]/assignment/[[item.id]]">
                    Assignment: [[item.title]]

                    <template is="dom-if" if="[[getAssignmentEditAccess(item)]]">
                        <button on-click="editAssignmentClick">Edit</button>
                    </template>
                </a>
            </div>
            <prendus-assignment-editor id="assignmentEditor-[[item.id]]" assignment="[[item]]" lesson-id="[[lessonId]]" on-saveclick="saveAssignment"></prendus-assignment-editor>
        </template>

        <template is="dom-if" if="[[!hasAssignments(assignments)]]">
            <div>
                No assignments yet
            </div>
        </template>

        <prendus-assignment-editor id="assignmentEditor" assignment="[[lastAssignmentSaved]]" lesson-id="[[lessonId]]" on-saveclick="saveAssignment"></prendus-assignment-editor>

        <template is="dom-if" if="[[hasCourseEditAccess]]">
            <button on-tap="addAssignmentClick">Add Assignment</button>
        </template>
    </template>

    <script src="prendus-lesson-assignment-container.ts"></script>
</dom-module>
