<link href="../../bower_components/polymer/polymer.html" rel="import">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../prendus-login/prendus-login.html">
<link rel="import" href="../prendus-create-account/prendus-create-account.html">
<link rel="import" href="../prendus-course-router/prendus-course-router.html">
<link rel="import" href="../prendus-landing/prendus-landing.html">
<link rel="import" href="../prendus-homepage/prendus-homepage.html">
<link rel="import" href="../prendus-profile/prendus-profile.html">
<link rel="import" href="../prendus-privacy-policy/prendus-privacy-policy.html">
<link rel="import" href="../prendus-terms-of-service/prendus-terms-of-service.html">

<dom-module id="prendus-router">
  <style>
  
    #app-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      min-height: calc(100vh - 128px);
    }

    .app-window {
      margin: 20px 50px;
      max-width: 800px;
      width: 100%;
    }

    .loading-spinner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 250px;
    }

  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <app-location route="{{route}}"></app-location>
    <app-route route="[[route]]" pattern="/:page" data="{{pageData}}" tail="{{tail}}" active="{{pageActive}}"></app-route>
    <iron-pages selected="[[mainViewToShow]]" attr-for-selected="show">
      <div class="loading-spinner" show="spinner">
          <paper-spinner active></paper-spinner>
      </div>

      <iron-pages id="app-container" selected="[[pageData.page]]" category="[[pageData.page]]" attr-for-selected ="data-page" show="routes">
        <iron-pages data-page="" selected="[[loggedIn]]" attr-for-selected="logged-in">
          <prendus-landing logged-in="false"></prendus-landing>
          <prendus-homepage logged-in="true" class="app-window"></prendus-homepage>
        </iron-pages>
        <prendus-login class="app-window" data-page="login"></prendus-login>
        <prendus-create-account class="app-window" data-page="signup"></prendus-create-account>
        <prendus-course-router data-page="courses" route="[[tail]]"></prendus-course-router>
        <prendus-profile class="app-window" data-page="profile"></prendus-profile>
        <prendus-privacy-policy class="app-window" data-page="privacy-policy"></prendus-privacy-policy>
        <prendus-terms-of-service class="app-window" data-page="terms-of-service"></prendus-terms-of-service>
      </iron-pages>
    </iron-pages>
  </template>

  <!--<script src="prendus-router.js"></script>-->
</dom-module>
