d<!DOCTYPE html>
<html>
<head>
    <link href="../../bower_components/polymer/polymer.html" rel="import">
    <link rel="import" href="../../bower_components/polymer-redux-store/redux-store.html">
    <link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="../../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../../bower_components/paper-card/paper-card.html">
</head>

<dom-module id="sign-in">
  <style>
    /* CSS rules for your element */
    <style>
      :host {
        display: block;
      }
      #loginFormCard, #toastTarget{
          width: 33%;
        }
        @media (max-width: 1200px) {
          #loginFormCard, #toastTarget{
            width: 66%;
          }
        }
        @media (max-width: 600px) {
          #loginFormCard, #toastTarget{
            width: 95%;
          }
        }
        #loginToast {
          --paper-toast-background-color: red;
        }
    </style>
  </style>
  <template>
    <!-- local DOM for your element -->
    <redux-store action="[[action]]"></redux-store>
    <center>
      <paper-toast id="loginToast" verticalAlign="top" text=[[loginFormToastText]]></paper-toast>
      <paper-card id = "loginFormCard" heading ="Login">
        <div>
          <form is="iron-form" method="get" action="/" id="loginForm">
            <paper-input name="email" id = "loginEmail" label="Email" required auto-validate></paper-input>
            <paper-input name="password" id = "loginPassword" label="Password" type="password" required auto-validate></paper-input>
            <div class="output"></div>
            <br>
            <paper-button raised id="signin-submit">Submit</paper-button>
            <br>
            <br>
            <a href= "#"> Reset Password </a>
          </form>
        </div>
      </paper-card>
      <center><div id="toastTarget" style = "margin-left: -28px; height: 60px;"></div></center>
    </center>
  </template>
</dom-module>
<!-- <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script> -->

<script>System.import('components/sign-in/sign-in.ts');</script>
