<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../styles/color-styles.html">

<dom-module id="prendus-learning-structure">

  <style include="color-styles">
  </style>
  <style>
    :host {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .icon {
      color: rgba(0, 0, 0, .5);
    }

    paper-card {
      /*width: 100%;*/
      /*max-width: 800px;*/
    }

    #add-subject-button {
      background-color: var(--prendus-primary-color);
      color: white;
    }
  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <paper-card heading="Change learning structure!!!">
      <!-- SUBJECTS -->
      <paper-dropdown-menu label="Subjects">
        <paper-listbox class="dropdown-content">
          <template is="dom-repeat" items="[[subjects]]">
            <paper-item on-tap="subjectChange">[[item]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>

      <!-- GRADE LEVELS -->
      <span>
        <template is="dom-if" if="[[gradeLevels]]">
          GRADE LEVELS
          <!-- <paper-listbox class="dropdown-content"> -->
            <template is="dom-repeat" items="[[gradeLevels]]">
              <paper-item>
                [[item]] <iron-icon icon="delete" item-icon on-tap="deleteGradeLevel"></iron-icon>
              </paper-item>
            </template>
          <!-- </paper-listbox> -->
        </template>
      </span>
      <!-- SUBTOPICS -->
      <span>
        <template is="dom-if" if="[[subtopics]]">
          SUBTOPICS
          <!-- <paper-listbox class="dropdown-content"> -->
            <template is="dom-repeat" items="[[subtopics]]">
              <paper-item>
                [[item]] <iron-icon icon="delete" item-icon on-tap="deleteSubtopic"></iron-icon>
              </paper-item>
            </template>
          <!-- </paper-listbox> -->
        </template>
      <paper-button id="add-subject-button" on-tap="newSubject">Add subject</paper-button>
      </span>
    </paper-card>



    <paper-dialog id="new-subject" modal>
      <paper-input label="Subject name" value="[[newSubjectName]]" required>

      </paper-input>
      <paper-button dialog-dismiss>Cancel</paper-button>
      <paper-button dialog-dismiss>Done</paper-button>
    </paper-dialog>
  </template>

  <script src="prendus-learning-structure.ts"></script>
</dom-module>
