<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">
<link rel="import" href="../../styles/color-styles.html">

<dom-module id="prendus-learning-structure">

  <style include="color-styles">
  </style>
  <style>
    :host {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .icon {
      color: rgba(0, 0, 0, .5);
    }

    paper-card {
      width: 100%;
      max-width: 800px;
    }
    #rightWrapper {
      margin: 0px;
      display: inline-block;
    }

    #leftWrapper {
      margin: 0px;
      display: inline-block;
      float: left;
    }

    paper-button {
      background-color: var(--prendus-primary-color);
      color: white;
    }

  </style>
  <template>
    <prendus-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <paper-card heading="Change learning structure!!!">
      <!-- DISCIPLINES -->

      <span id="leftWrapper">
        <div>
          <paper-dropdown-menu label="Disciplines">
            <paper-listbox id="discipline-paper-listbox" class="dropdown-content">
              <template is="dom-repeat" items="[[disciplines]]">
                <paper-item on-tap="disciplineChange">[[item.title]]</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>
          <template is="dom-if" if="[[chosenDiscipline]]">
            <paper-icon-button id="edit-title" class="edit-button icon-button" icon="create" noink on-tap="editDiscipline"></paper-icon-button>
          </template>
        </div>
        <div>
          <paper-button on-tap="newDiscipline">Add discipline</paper-button>
        </div>
      </span>

      <!-- GRADE LEVELS -->
      <span id="leftWrapper">
      </span>

      <!-- SUBTOPICS -->
      <span id="rightWrapper">
      </span>


    </paper-card>

    <paper-dialog id="new-discipline" modal>
      <paper-input id="new-discipline-name" label="Discipline name" required>

      </paper-input>
      <paper-button dialog-dismiss>Cancel</paper-button>
      <paper-button on-tap="newDisciplineDone" dialog-dismiss>Done</paper-button>
    </paper-dialog>
    <paper-dialog id="edit-discipline" modal>
      <paper-input id="edit-discipline-name" label="Discipline name" required>

      </paper-input>
      <paper-button dialog-dismiss>Cancel</paper-button>
      <paper-button on-tap="editDisciplineDone" dialog-dismiss>Done</paper-button>
    </paper-dialog>
  </template>

  <script src="prendus-learning-structure.ts"></script>
</dom-module>
