<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<dom-module id="prendus-question-scaffold-finished-question">

  <style include="prendus-styles">
    :host {
      display: block;
    }
  </style>

  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    Finished question component
  </template>

  <script src="prendus-question-scaffold-finished-question.ts"></script>
</dom-module>
