<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../quiz-editor/quiz-editor.component.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link href="../../bower_components/redux-store-element/redux-store.html" rel="import">


<dom-module id="prendus-edit-quiz-router">
    <template>
        <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>
        <app-route route="[[route]]" pattern="/edit-quiz/concept/:conceptId/quiz/:quizId" data="{{data}}" tail="{{tail}}"></app-route>
        <prendus-quiz-editor id="quizEditorComponent" concept-id="[[data.conceptId]]" quiz-id="[[data.quizId]]" on-editquestion="routeToEditQuestion" on-createquestion="routeToCreateQuestion"></prendus-quiz-editor>
    </template>

    <script>System.import('/components/edit-quiz-router/edit-quiz-router.component.ts')</script>
</dom-module>
