<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../prendus-course-preview/prendus-course-preview.html">

<dom-module id="prendus-homepage">
  <style>

    .homepage-courses {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
    }

    .course-preview {
      margin: 10px;
      flex-basis: 30%;
      flex-grow: 0;
      min-width: 0;
    }
  </style>

  <template>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <div class="homepage-courses">
      <template id="courseList" is="dom-repeat" items="[[publicCourses]]">
        <prendus-course-preview class="course-preview" course="[[item]]"></prendus-course-preview>
      </template>
    </div>


  </template>

  <!--<script src="prendus-homepage.js"></script>-->
</dom-module>
