<link  rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../prendus-course-preview/prendus-course-preview.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">
<script src="../../bower_components/firebase/firebase.js"></script>
<script src="../../bower_components/firebase-util/dist/firebase-util-normalize.min.js"></script>
<script src="../../bower_components/firebase-util/dist/firebase-util-paginate.min.js"></script>
<script src="../../bower_components/firebase-util/dist/firebase-util.min.js"></script>


<dom-module id="prendus-homepage">
  <style>

		:host {
			display: block;
		}

    .homepage-courses {
      display: flex;
      flex-wrap: wrap;
    }

    .course-preview {
      margin: 10px;
      flex-basis: 30%;
      flex-grow: 0;
      min-width: 0;
    }

    #load-more-data {
      /*TODO: Matt's hacky version to get this centered. */
      left: 41%;
    }

    #course-list {
      flex: auto;
    }

    @media (max-width: 768px) {
      .course-preview {
        flex-basis: 45%;
      }
    }

		@media (max-width: 500px) {
			.homepage-courses {
				display: block;
			}

			.course-preview {
				margin: 10px auto;
			}
		}

  </style>


  <template>
    <prendus-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
      <div class="homepage-courses">
        <!-- TODO: @Brandon I need your help to make three course previews appear in each row -->
        <iron-list id="course-list" scroll-target="scroll-threshold" items="[[publicCourses]]">
          <template>
            <div>
              <prendus-course-preview class="course-preview" course="[[item]]"></prendus-course-preview>
            </div>
          </template>
        </iron-list>

        <iron-scroll-threshold id="scroll-threshold" scroll-target="document" on-lower-threshold="loadMoreData">
        </iron-scroll-threshold>

          <!-- TODO: we should probably center this. -->
          <!-- TODO: only display if there is more content available -->

      </div>
      <div>
        <paper-button id="load-more-data" on-tap="loadMoreData">Load more</paper-button>
      </div>
  </template>

  <script src="prendus-homepage.ts"></script>
</dom-module>
