<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../quiz-editor/quiz-editor.component.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="prendus-quiz-router">
    <template>
        <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

        <button on-click="viewQuizEditor" hidden="[[!selected]]">Back to Quiz Editor</button>

        <app-route route="[[route]]" pattern="/edit-quiz/concept/:conceptId/quiz/:quizId" data="{{data}}" tail="{{tail}}"></app-route>

        <iron-pages selected="[[selected]]">
            <prendus-quiz-editor id="quizEditorComponent" concept-id="[[data.conceptId]]" quiz-id="[[data.quizId]]" on-editquestion="routeToEditQuestion" on-createquestion="routeToCreateQuestion"></prendus-quiz-editor>

            <div style="margin-left: 10vw; margin-right: 10vw; margin-bottom: 25px">
                <solutia-maxima-edit-problem id="editProblemComponent" jwt="[[jwt]]" question-id="[[currentEditQuestionId]]" on-savequestion="questionSaved"></solutia-maxima-edit-problem>
            </div>
        </iron-pages>
    </template>

    <script>System.import('/components/quiz-router/quiz-router.component.ts')</script>
</dom-module>
