<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-char-counter.html">
<link rel="import" href="../../bower_components/Sortable/Sortable.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/prendus-paper-tags-input/prendus-paper-tags-input.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">
<link rel="import" href="../../styles/color-styles.html">

<dom-module id="prendus-concept-edit-modal">
  <template>
		<style include="color-styles"></style>
    <style>

			#done {
				background-color: var(--prendus-primary-color);
				color: white;
			}

    </style>
    <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>

    <paper-dialog id="dialog" with-backdrop>
      <h2>[[conceptHeader]]</h2>
      <paper-input id="concept-name" label="Concept Name" value="[[conceptFormName]]" maxlength="50" required auto-validate on-keydown="updateConceptIfEnter"></paper-input>
      <!-- <prendus-paper-tags-input id="concept-tags" placeholder="Delete tags or add new ones" tags="[[conceptTagNames]]" on-add="onAdd" on-remove="onRemove" duplicate-error-message="Tag cannot be a duplicate" required></prendus-paper-tags-input> -->
			<div class="buttons">
				<paper-button dialog-dismiss on-tap="clearValues">Cancel</paper-button>
				<paper-button id="done" on-tap="updateConcept">Done</paper-button>
			</div>
    </paper-dialog>
    <prendus-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>
  </template>

  <script src="prendus-concept-edit-modal.ts"></script>
</dom-module>
