<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">

<dom-module id="prendus-login">
  <style>
    /* CSS rules for your element */
    <style>
      :host {
        display: block;
      }
      #loginFormCard, #toastTarget{
          width: 75%;
        }
        @media (max-width: 1200px) {
          #loginFormCard, #toastTarget{
            width: 85%;
          }
        }
        @media (max-width: 600px) {
          #loginFormCard, #toastTarget{
            width: 100%;
          }
        }
        #loginToast {
          --paper-toast-background-color: red;
        }
    </style>
  </style>
  <template>
    <!-- local DOM for your element -->
    <redux-store action="[[action]]"></redux-store>
    <center>
      <paper-toast id="loginToast" verticalAlign="top" text=[[loginFormToastText]]></paper-toast>
      <paper-card id = "loginFormCard" heading ="Login">
        <div>
          <form is="iron-form" method="get" action="/" id="loginForm">
            <paper-input name="email" id = "loginEmail" label="Email" required auto-validate></paper-input>
            <paper-input name="password" id = "loginPassword" label="Password" type="password" required auto-validate></paper-input>
            <div class="output"></div>
            <br>
            <paper-button raised id="signin-submit">Submit</paper-button>
            <br>
            <br>
            <a href= "#"> Forgot Password </a>
          </form>
        </div>
      </paper-card>
      <center><div id="toastTarget" style = "margin-left: -28px; height: 60px;"></div></center>
      <prendus-notification error-message="[[errorMessage]]"></prendus-notification>
    </center>
  </template>

  <!--<script src="prendus-login.js"></script>-->
</dom-module>
