<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">
<link rel="import" href="../../styles/color-styles.html">

<dom-module id="prendus-login">
	<style include="color-styles"></style>
  <style>

    :host {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    paper-card {
      width: 100%;
      max-width: 320px;
    }

    paper-button.indigo:not([disabled]) {
      background-color: var(--prendus-primary-color);
      color: white;
    }

    #create-account {
      padding: 16px;
    }

  </style>
  <template>
    <redux-store action="[[action]]"></redux-store>
      <paper-card id="login-container" heading="Log in">
        <form id="login-form" class="card-content" is="iron-form" on-keydown="loginOnEnter">
          <paper-input id="email" name="email" label="Email" value="{{email}}" required on-change="hardValidateEmail" on-keyup="softValidateEmail" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" error-message="Please enter a valid email address."></paper-input>
          <paper-input id="password" name="password" label="Password" value="{{password}}" type="password" required auto-validate error-message="Please enter your password."></paper-input>
        </form>
        <div class="card-actions">
          <paper-button noink on-tap="openResetPasswordDialog">Forgot Password</paper-button>
					<paper-button id="log-in-submit" class="indigo" disabled="[[!enableLogIn(email, password)]]" noink on-tap="login">Log In</paper-button>
        </div>
        <div id="create-account">Don't have an account? <a href="/signup">Sign up</a></div>
      </paper-card>

      <paper-dialog id="reset-password-dialog" with-backdrop>
        <form is="iron-form">
          <h2>Enter Email to Send Password Reset Link</h2>
          <paper-input name="resetPasswordEmail" id = "resetPasswordEmail" label="Email" required auto-validate></paper-input>
          <paper-button noink dialog-dismiss>Cancel</paper-button>
          <paper-button class="indigo" noink on-click="sendResetEmail">Submit</paper-button>
        </form>
      </paper-dialog>

      <prendus-notification error-message="[[errorMessage]]"></prendus-notification>
  </template>

  <script src="prendus-login.ts"></script>
</dom-module>
