<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import"href="../../bower_components/paper-dialog/paper-dialog.html" >

<link rel="import" href="../prendus-notification/prendus-notification.html">

<dom-module id="prendus-login">
  <style>
    /* CSS rules for your element */
    <style>
      :host {
        display: block;
      }
      #loginFormCard, #toastTarget{
          width: 75%;
        }
        @media (max-width: 1200px) {
          #loginFormCard, #toastTarget{
            width: 85%;
          }
        }
        @media (max-width: 600px) {
          #loginFormCard, #toastTarget{
            width: 100%;
          }
        }
        #forgot-password{
          color: blue;
          cursor: pointer;
        }
    </style>
  </style>
  <template>
    <!-- local DOM for your element -->
    <redux-store action="[[action]]"></redux-store>
    <center>
      <paper-card id = "loginFormCard" heading ="Login">
        <div>
          <form is="iron-form" method="get" action="/" id="loginForm">
            <paper-input name="email" id = "loginEmail" label="Email" required auto-validate></paper-input>
            <paper-input name="password" id = "loginPassword" label="Password" type="password" required auto-validate></paper-input>
            <div class="output"></div>
            <br>
            <paper-button raised id="signin-submit">Submit</paper-button>
            <br>
            <br>
            <div id ="forgot-password" on-tap="sendResetEmailTrigger"> Forgot Password </div>
          </form>
        </div>
      </paper-card>
      <paper-dialog id = "forgotPasswordModal" modal>
        <div>
          <!-- Look up Iron keys to change this -->
          <form is="iron-form">
          <paper-input name="resetPasswordEmail" id = "resetPasswordEmail" label="Email" required auto-validate></paper-input>
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button id = "sendResetEmailSubmit" on-click="sendResetEmail">Send Reset Email</paper-button>
          </form>
        </div>
      </paper-dialog>
      <prendus-notification error-message="[[errorMessage]]"></prendus-notification>
    </center>
  </template>

  <!--<script src="prendus-login.js"></script>-->
</dom-module>
