<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">

<dom-module id="prendus-concept-quiz-container-edit">
    <template>
        <style>
            .quiz-row {
                padding: 20px;
                cursor: pointer;
            }
        </style>

        <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

        <button on-tap="addQuizClick">Add quiz</button>

        <template is="dom-repeat" items="[[quizzes]]">
            <div class="quiz-row" on-tap="quizRowClick">[[item.title]]</div>
        </template>
    </template>

    <!--<script src="prendus-concept-quiz-container-edit.js"></script>-->
</dom-module>
