<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">

<dom-module id="prendus-collaborator-modal">
    <template>

        <style include="prendus-styles">

					#add-container {
						display: flex;
						align-items: center;
					}

        </style>

				<redux-store on-statechange="mapStateToThis" action=[[action]]></redux-store>

        <paper-dialog id="modal" with-backdrop>
          <h2>Collaborators</h2>
          <paper-dialog-scrollable>
            <template is="dom-repeat" items="[[collaboratorEmails]]">
                <p>[[item]] <paper-icon-button icon="icons:clear" on-tap="removeCollaborator"></paper-icon-button></p>
            </template>
						<div id="add-container">
							<paper-input id="add-input" label="Enter email address" tabindex="0" value="{{newCollaboratorEmail}}" on-keydown="addCollaboratorIfEnter"></paper-input>
							<button class="prendus-button prendus-button--recommended" disabled="[[!canAddCollaborator(newCollaboratorEmail)]]" on-tap="addCollaborator">Add</button>
						</div>
          </paper-dialog-scrollable>
          <div class="buttons">
            <button class="prendus-button prendus-button--recommended" dialog-dismiss>Done</button>
          </div>
        </paper-dialog>

    </template>

    <script src="prendus-collaborator-modal.ts"></script>
</dom-module>
