<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../styles/color-styles.html">

<dom-module id="prendus-collaborator-modal">
    <template>
				<style include="color-styles"></style>
        <style>

          .remove-collaborator {
            cursor: pointer;
          }

					#add-container {
						display: flex;
						align-items: center;
					}

					/* Select only when it's not disabled */
					paper-button:not([disabled]) {
						background-color: var(--prendus-primary-color);
						color: white;
					}

        </style>

				<prendus-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>
				<redux-store on-statechange="mapStateToThis" action=[[action]]></redux-store>

        <paper-dialog id="modal" with-backdrop>
          <h2>Collaborators</h2>
          <paper-dialog-scrollable>
            <template is="dom-repeat" items="[[collaboratorEmails]]">
                <p>[[item]] <iron-icon class="remove-collaborator" icon="icons:clear" on-tap="removeCollaborator">remove</iron-icon></p>
            </template>
						<div id="add-container">
							<paper-input id="add-input" label="Enter email address" tabindex="0" value="{{newCollaboratorEmail}}" on-keydown="addCollaboratorIfEnter"></paper-input>
							<paper-button disabled="[[!canAddCollaborator(newCollaboratorEmail)]]" noink on-tap="addCollaborator">Add</paper-button>
						</div>
          </paper-dialog-scrollable>
          <div class="buttons">
            <paper-button noink dialog-dismiss>Done</paper-button>
          </div>
        </paper-dialog>

    </template>

    <script src="prendus-collaborator-modal.ts"></script>
</dom-module>
