<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="prendus-collaborator-modal">
    <template>
        <style>

          .remove-collaborator {
            cursor: pointer;
          }

					#add-collaborator-container {
						display: flex;
						align-items: center;
					}

        </style>

        <redux-store on-statechange="mapStateToThis" action=[[action]]></redux-store>

        <paper-dialog id="modal">
          <h2>Collaborators</h2>
          <paper-dialog-scrollable>
            <template is="dom-repeat" items="[[collaboratorEmails]]">
                <p>[[item]] <iron-icon class="remove-collaborator" icon="icons:clear" on-tap="removeCollaborator">remove</iron-icon></p>
            </template>
						<div id="add-collaborator-container">
							<paper-input id="collaboratorInput" label="Enter email address" stop-keyboard-event-propagation></paper-input>
							<paper-button noink on-tap="addCollaborator"> Add</paper-button>
						</div>
          </paper-dialog-scrollable>
          <div class="buttons">
            <paper-button noink dialog-dismiss autofocus>Done</paper-button>
          </div>
        </paper-dialog>

    </template>

    <script src="prendus-collaborator-modal.ts"></script>
</dom-module>
