
<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../styles/app-theme.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../prendus-navbar/prendus-navbar.html">
<link rel="import" href="../prendus-footer/prendus-footer.html">
<link rel="import" href="../prendus-router/prendus-router.html">

<dom-module id="prendus-app">
  <template>
    <redux-store root-reducer="[[rootReducer]]"></redux-store>
    <prendus-navbar></prendus-navbar>
    <prendus-router></prendus-router>
    <prendus-footer></prendus-footer>

  </template>
  <!--<script src="prendus-app.js"></script>hello-->
</dom-module>
