<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../prendus-quiz-editor/prendus-quiz-editor.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link href="../../bower_components/redux-store-element/redux-store.html" rel="import">


<dom-module id="prendus-edit-quiz-router">
    <template>
      <style>

        :host {
          display: block;
        }

      </style>

      <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>
      <app-route route="[[route]]" pattern="/edit-quiz/course/:courseId/concept/:conceptId/quiz/:quizId" data="{{data}}" tail="{{tail}}"></app-route>
      <prendus-quiz-editor id="quizEditorComponent" course-id"[[data.courseId]]" concept-id="[[data.conceptId]]" quiz-id="[[data.quizId]]" on-editquestion="routeToEditQuestion" on-createquestion="routeToCreateQuestion"></prendus-quiz-editor>
    </template>

    <!--<script src="prendus-edit-quiz-router.js"></script>-->
</dom-module>
