<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/prendus-question-components/components/prendus-edit-question/prendus-edit-question.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../prendus-question-scaffold-example/prendus-question-scaffold-example.html">

<dom-module id="prendus-question-scaffold">

  <style include="prendus-styles">
    :host {
      display: block;
    }

    #back {
      margin-top: 10px;
      float: left;
    }
    #next {
      margin-top: 10px;
      float: right;
    }
  </style>

  <template>
    <iron-ajax id="startQuizSessionAjax" url="[[endpointDomain]]/api/quiz/start-session" method="post" content-type="application/json" handle-as="json"></iron-ajax>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    selectedIndex [[selectedIndex]]
    <!--TODO move to bottom once all components are done -->
    <template is="dom-if" if="[[selectedIndex]]">
      <div id="back">
        <button class="prendus-button prendus-button--recommended" on-tap="back">Back</button>
      </div>
    </template>
    <template is="dom-if" if="[[displayNext]]">
      <div id="next">
        <button class="prendus-button prendus-button--recommended" on-tap="next">Next</button>
      </div>
    </template>
    <iron-pages id="iron-pages" selected="[[selectedIndex]]">
      <prendus-question-scaffold-example></prendus-question-scaffold-example>
      <div>
        jwt [[jwt]]<br>

        <prendus-edit-question id="editProblemComponent" jwt="[[jwt]]" external-question-id="pickles" quiz-session="[[quizSession]]"></prendus-edit-question>
      </div>

      <!-- create question -->
      <div>
        distractors
      </div>
      <div>
        comments
      </div>
      <div>
        explanation
      </div>
      <div>
        finished question
      </div>
      <div>
        Rate question 1
      </div>
      <div>
        Rate question 2
      </div>
      <div>
        Rate question 3
      </div>
      <div>
        Take question 1
      </div>
      <div>
        Take question 2
      </div>
      <div>
        Take question 3
      </div>
      <div>
        Take question 4
      </div>
      <div>
        Take question 5
      </div>
    </iron-pages>


  </template>

  <script src="prendus-question-scaffold.ts"></script>
</dom-module>
