<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/prendus-question-components/components/prendus-edit-question/prendus-edit-question.html">
<link rel="import" href="../prendus-question-scaffold-example/prendus-question-scaffold-example.html">
<link rel="import" href="../prendus-question-scaffold-new-question/prendus-question-scaffold-new-question.html">
<link rel="import" href="../prendus-question-scaffold-distractors/prendus-question-scaffold-distractors.html">
<link rel="import" href="../prendus-question-scaffold-comments/prendus-question-scaffold-comments.html">
<link rel="import" href="../prendus-question-scaffold-explanation/prendus-question-scaffold-explanation.html">
<link rel="import" href="../prendus-question-scaffold-finished-question/prendus-question-scaffold-finished-question.html">
<dom-module id="prendus-question-scaffold">

  <style include="prendus-styles">
    :host {
      display: block;
    }

    #back {
      margin-top: 10px;
      float: left;
    }
    #next {
      margin-top: 10px;
      float: right;
    }
  </style>

  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <iron-pages id="iron-pages" selected="[[selectedIndex]]">
      <prendus-question-scaffold-example></prendus-question-scaffold-example>
      <prendus-question-scaffold-new-question></prendus-question-scaffold-new-question>
      <prendus-question-scaffold-distractors></prendus-question-scaffold-distractors>
      <prendus-question-scaffold-comments></prendus-question-scaffold-comments>
      <prendus-question-scaffold-explanation></prendus-question-scaffold-explanation>
      <prendus-question-scaffold-finished-question></prendus-question-scaffold-finished-question>
      <div>
        Rate question 1
      </div>
      <div>
        Rate question 2
      </div>
      <div>
        Rate question 3
      </div>
      <div>
        Take question 1
      </div>
      <div>
        Take question 2
      </div>
      <div>
        Take question 3
      </div>
      <div>
        Take question 4
      </div>
      <div>
        Take question 5
      </div>
    </iron-pages>
    <template is="dom-if" if="[[selectedIndex]]">
      <div id="back">
        <button class="prendus-button prendus-button--recommended" on-tap="back">Back</button>
      </div>
    </template>
    <template is="dom-if" if="[[displayNext]]">
      <div id="next">
        <button class="prendus-button prendus-button--recommended" on-tap="next">Next</button>
      </div>
    </template>


  </template>

  <script src="prendus-question-scaffold.ts"></script>
</dom-module>
