<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/prendus-quiz-viewer-component/prendus-take-quiz.html">
<dom-module id="prendus-question-scaffold-take-quiz">


  <template>
    <style include="prendus-styles">
      .quiz {
        margin-top: 10px;
      }
    </style>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <redux-store store-name="PRENDUS_QUESTION_SCAFFOLD_TAKE_QUIZ_STORE" root-reducer="[[quizRootReducer]]"></redux-store>

    <template is="dom-if" if="[[quizRootReducer]]">
      <div class="quiz">
        <prendus-take-quiz store-name="PRENDUS_QUESTION_SCAFFOLD_TAKE_QUIZ_STORE" quiz-origin="[[quizOrigin]]" user-email="[[userEmail]]" course-id="[[courseId]]" quiz-id="[[quizId]]" jwt="[[jwt]]" lti-jwt="[[ltiJwt]]" uid="[[uid]]" on-quizsubmissionstarted="quizSubmissionStarted" on-quizsubmissionfinished="quizSubmissionFinished"></prendus-take-quiz>
      </div>
    </template>
  </template>

  <script src="prendus-question-scaffold-take-quiz.ts"></script>
</dom-module>
