<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">

<link rel="import" href="prendus-question-scaffold-example.html">
<link rel="import" href="prendus-question-scaffold-view-question.html">

<dom-module id="prendus-question-scaffold-take-question">


  <template>
    <style include="prendus-styles">

    </style>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <template is="dom-if" if="[[renderMe]]">
      <prendus-question-scaffold-view-question question-id="[[questionId]]" jwt="[[jwt]]"></prendus-question-scaffold-view-question>
    </template>
  </template>

  <script src="prendus-question-scaffold-take-question.ts"></script>
</dom-module>
