<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html" >
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html" >
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html" >
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-profile">
  <template>
      <style include="prendus-styles">

        :host {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        paper-card {
          width: 100%;
        }

            paper-input {
                max-width: 300px;
            }

      </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <paper-card id="profileFormCard">
      <form class="card-content" is="iron-form" id="form" method="post" action="/form/handler" on-keydown="submitKeydown">
				<h1>Your Account</h1>
				<p>View and update your account details.</p>
				<h3>[[getUserTypeText(userType)]]</h3>
				<hr>
				<template is="dom-if" if="[[showTeacherSelection(userType)]]" restamp="true">
					<p>I am a...</p>
					<paper-radio-group id="user-type" selected="{{userType}}" required>
						<!-- keep the name attributes as is - they will be passed into Firebase -->
						<paper-radio-button name="student">Student</paper-radio-button>
						<paper-radio-button name="unverifiedTeacher">Teacher</paper-radio-button>
					</paper-radio-group>
					<p hidden$="[[!showTeacherNote(userType)]]"><sup>Note: you will need to verify your teacher status.</sup></p>
				</template>
        <paper-input name="firstName" id="firstName" label="First Name" value="[[firstName]]"></paper-input>
        <paper-input name="lastName" id="lastName" label="Last Name" value="[[lastName]]"></paper-input>
        <paper-input name="Intitution" id="institution" label="Institution (school)" value="[[institution]]"></paper-input>
        <paper-input name="Email" id="updateEmail" label="Email" required value="[[email]]"></paper-input>
      </form>
      <div class="card-actions">
        <button class="prendus-button prendus-button--recommended" on-tap="changeProfile" noink>Update</button>
      </div>
    </paper-card>

    <paper-dialog id="enter-password" with-backdrop>
			<div class="content">
				<h2>Confirm change of email address</h2>
				<p>Enter your password to confirm changing your email address.</p>
				<paper-input id="password" type="password" label="Password" value="{{password}}" on-keydown="confirmIfEnter"></paper-input>
			</div>
      <div class="buttons">
        <button class="prendus-button prendus-button--minor" dialog-dismiss>Cancel</button>
        <button class="prendus-button prendus-button--recommended" disabled$="[[!enableConfirmEmail(password)]]" on-tap="changeEmail">Continue</button>
      </div>
    </paper-dialog>
  </template>

  <script src="prendus-profile.ts"></script>
</dom-module>
