<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/prendus-question-components/components/prendus-learning-structure/prendus-learning-structure.html">

<dom-module id="prendus-assignment-editor">
    <template>
        <style>
        </style>

        <paper-dialog id="assignmentDialog">
            <div>
                Title: <input id="titleInput" value="[[assignment.title]]">
            </div>

            <div>
                Concepts:
                <template is="dom-repeat" items="[[concepts]]">
                    <div>[[item.title]]<button on-tap="deleteConceptTap">Delete</button></div>
                </template>
            </div>

            <div>
                <button on-tap="selectConceptTap">[[selectConceptButtonText]]</button>
            </div>

            <template is="dom-if" if="[[showLearningStructureComponent]]">
                <prendus-learning-structure id="learningStructureComponent"></prendus-learning-structure>
                <button on-tap="addTap">Add</button>
            </template>

            <div>
                <button on-tap="save">Save</button>
            </div>
        </paper-dialog>
    </template>

    <script src="prendus-assignment-editor.ts"></script>
</dom-module>
