<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/prendus-question-components/components/prendus-learning-structure/prendus-learning-structure.html">

<dom-module id="prendus-assignment-editor">
    <template>
        <style include="prendus-styles">

          /*this is for the full-screen dialog that we want to implement after GraphQL is up and running.
          #assignmentDialog{
              position: fixed;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              padding: 0;
              margin: 0;
          }*/
          .content-section{
            margin-top: 15px;
          }
        </style>

        <paper-dialog id="assignmentDialog" with-backdrop>
          <paper-dialog-scrollable>
              <div class="content-section">
                  <paper-input id="titleInput" value="[[assignment.title]]" label ="Assignment Title"></paper-input>
              </div>

              <div class="content-section">
                  <h2>Concepts</h2>
                  <template is="dom-repeat" items="[[concepts]]">
                      <div id="[[item.id]]">[[item.title]] <paper-icon-button class="prendus-icon-button" icon="delete" on-tap="deleteConceptTap"></paper-icon-button></div>
                  </template>
              </div>

              <div class="content-section">
                  <a class="prendus-button" on-tap="selectConceptTap">[[selectConceptButtonText]]</a>
                  <!-- <button on-tap="selectConceptTap">[[selectConceptButtonText]]</button> -->
              </div>

              <template is="dom-if" if="[[showLearningStructureComponent]]">
                  <prendus-learning-structure class="content-section" id="learningStructureComponent"></prendus-learning-structure>
                  <a class="prendus-button content-section" on-tap="addTap"><iron-icon icon="add"></iron-icon>Add</a>
              </template>

              <div class="buttons content-section">
                  <a class="prendus-button prendus-button--recommended" on-tap="save">Done</a>
              </div>
          </paper-dialog-scrollable>
        </paper-dialog>

        <!-- <paper-dialog id="assignmentDialog">
            <div>
                Title <input id="titleInput" value="[[assignment.title]]">
            </div>

            <div>
                Concepts:
                <template is="dom-repeat" items="[[concepts]]">
                    <div>[[item.title]]<button on-tap="deleteConceptTap">Delete</button></div>
                </template>
            </div>

            <div>
                <button on-tap="selectConceptTap">[[selectConceptButtonText]]</button>
            </div>

            <template is="dom-if" if="[[showLearningStructureComponent]]">
                <prendus-learning-structure id="learningStructureComponent"></prendus-learning-structure>
                <button on-tap="addTap">Add</button>
            </template>

            <div>
                <button on-tap="save">Save</button>
            </div>
        </paper-dialog> -->
    </template>

    <script src="prendus-assignment-editor.ts"></script>
</dom-module>
