<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/paper-dialog/paper-dialog.html" rel="import">
<link href="../../bower_components/paper-fab/paper-fab.html" rel="import">
<link href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html" rel="import">
<link href="../../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html" rel="import">
<link href="../../bower_components/paper-date-picker/paper-date-picker.html" rel="import">
<link href="../../bower_components/redux-store-element/redux-store.html" rel="import">
<link href="../../bower_components/paper-input/paper-input.html" rel="import">
<link href="../../bower_components/paper-input/paper-input-char-counter.html" rel="import">
<link href="../../bower_components/iron-input/iron-input.html" rel="import">
<link href="../../bower_components/paper-menu-button/paper-menu-button.html" rel="import">
<link href="../../bower_components/paper-menu/paper-menu.html" rel="import">
<link href="../../bower_components/Sortable/Sortable.html" rel="import">
<link href="../../bower_components/app-route/app-route.html" rel="import">
<script src="../../bower_components/moment/min/moment-with-locales.min.js"></script>
<link href="../../bower_components/iron-icons/editor-icons.html" rel="import">
<link href="../prendus-concept-container-edit/prendus-concept-container-edit.html" rel="import">
<link rel="import" href="../../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">

<dom-module id="prendus-course-edit">
  <style>
    :host {
      display: block;
    }
    /*#course-container{
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 8%;
      margin-right: 8%;
      margin-top: 2%;
      position: relative;
      height: 0%
    }*/
    .concepts-style-container{
      display: flex;
      flex-direction: row;
      flex: 1;
      box-shadow: 0px 0px 3px black;
      margin-top: 1%;
      margin-bottom: 1%;
      position: relative;
      height: 0%
    }
    #course-title {
      --paper-input-container-input: {
        font-size: 48px;
      };
    }
    #course-description {
      --paper-input-container-input: {
        font-size: 24px;
      };
    }
    /* CSS rules for your element */
  </style>
  <template>
    <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>
    <app-route route="[[route]]" pattern="/edit/:courseId" data="{{data}}"></app-route>

    <prendus-notification success-message="[[successMessage]]"></prendus-notification>
    <prendus-notification error-message="[[errorMessage]]"></prendus-notification>

    <div>
      <div id = "course-container">
        <!-- style="display: flex; flex-direction: column; flex: 1; box-shadow: 0px 0px 3px black; margin: 100px; position: relative; height: 0%" -->
        <template is="dom-if" if="[[username]]">
            <div style="position: relative">
                <course-title title="[[item.title]]" instructor="[[item.instructor]]">

                    <div style="position: absolute; top: -5px; right: -1%">
                        <paper-menu-button ignore-select no-animations allow-outside-scroll>
                            <paper-icon-button icon="more-vert" title="quiz settings" class="dropdown-trigger"></paper-icon-button>
                            <paper-menu class="dropdown-content" style="padding: 15px">
                                <!--TODO this span is here to stop the default selection of items. It is a hack, get rid of it if possible-->
                                <span></span>
                                <!--TODO this span is here to stop the default selection of items. It is a hack, get rid of it if possible-->
                                <paper-submenu>
                                    <paper-item class="menu-trigger">Collaborators</paper-item>
                                    <paper-menu class="menu-content">
                                        <!--TODO this span is here to stop the default selection of items. It is a hack, get rid of it if possible-->
                                        <span></span>
                                        <!--TODO this span is here to stop the default selection of items. It is a hack, get rid of it if possible-->
                                        <prendus-collaborator-menu-content uid="[[uid]]" course-id="[[courseId]]" course></prendus-collaborator-menu-content>
                                    </paper-menu>
                                </paper-submenu>
                            </paper-menu>
                        </paper-menu-button>
                    </div>

                  <paper-input name="title" label="Course Title" id = "course-title" value="[[currentCourse.title]]" on-change="attributeChanged"></paper-input>
                  <paper-input name="description" id = "course-description" label="Course Description" label="Input label" maxlength="20" value="[[currentCourse.description]]" on-change="attributeChanged"></paper-input>
                  <h1>
                    [[currentCourse.title]] Concepts
                  </h1>
                  <template is="dom-if" if="[[!courseConceptsLength]]">
                    <p>Click the plus button to begin adding concepts to the Course.</p>
                  </template>
                  <sortable-js on-sort="sortableEnded">
                    <template id="conceptsList" is="dom-repeat" items=[[courseConcepts]]>
                      <div class = "concepts-style-container">
                        <!-- <iron-icon class = "end-justified"icon="editor:drag-handle" item-icon style="flex: 1;flex-direction: row;"></iron-icon> [[item.keys]]
                        <iron-icon class = "end-justified" id = "[[item.key]]" icon="icons:delete" item-icon on-tap="deleteItem"></iron-icon> -->
                        <prendus-concept-container-edit concept-id="[[item.id]]" style="flex: 5;flex-direction: row;"></prendus-concept-container-edit><span>
                        <paper-menu-button ignore-select no-animations allow-outside-scroll>
                          <paper-icon-button icon="more-vert" title="concept settings" class="dropdown-trigger"></paper-icon-button>
                          <paper-menu class="dropdown-content" selected="null" style="padding: 15px">
                              <paper-submenu>
                                  <paper-item class="menu-trigger">Collaborators</paper-item>
                                  <paper-menu class="menu-content">
                                      <!--TODO this span is here to stop the default selection of items. It is a hack, get rid of it if possible-->
                                      <span></span>
                                      <!--TODO this span is here to stop the default selection of items. It is a hack, get rid of it if possible-->
                                      <prendus-collaborator-menu-content course-id="[[courseId]]" concept-id="[[item.key]]" concept></prendus-collaborator-menu-content>
                                  </paper-menu>
                              </paper-submenu>
                            <paper-item role="menuitem" id = "[[item.key]]" on-tap="deleteItem"><iron-icon class = "end-justified" icon="icons:delete" item-icon ></iron-icon>Delete</paper-item>
                            <!-- <paper-item><iron-icon class = "end-justified"icon="editor:drag-handle" item-icon style="flex: 1;flex-direction: row;"></iron-icon> [[item.keys]]
                            Reorder concepts</paper-item> -->
                          </paper-menu>
                        </paper-menu-button>
                      </div>
                    </template>
                  </sortable-js>
                </course-title>
            </div>
        </template>

        <template is="dom-if" if="[[!username]]">
          <p> You are not signed in.  Please sign in to access this page </p>
        </template>
        <paper-dialog id = "addDialog" modal>
          <div>
            <!-- Look up Iron keys to change this -->
            <form is="iron-form">
              <h2>Add a Concept to the Course</h2>
              <paper-input name="name" label="Concept Name" id ="conceptFormName" required auto-validate></paper-input>
              <paper-button dialog-dismiss>Cancel</paper-button>
              <paper-button on-tap="addConceptFormDone">Done</paper-button>
            </form>
          </div>
          <div class="buttons">
          </div>
        </paper-dialog>
        <paper-dialog id = "deleteConfirm" modal>
          <div>
            <!-- Look up Iron keys to change this -->
            <form is="iron-form">
              <h1 style="color: red">Confirm Delete </h1>
              <p>Are you sure that you want to delete this concept?
              <paper-button dialog-dismiss>No</paper-button>
              <paper-button id = "confirmeDelete" on-tap="completeDelete">Yes</paper-button>
            </form>
          </div>
        </paper-dialog>
        <paper-fab icon = "add" title = "Add Concept" tooltip="Add Concept" on-tap="addConcept"></paper-fab>
      </template>
    </div>
  </div>
  <!-- <script>System.import('/components/prendus-course-edit/prendus-course-edit.ts');</script> -->
</dom-module>
