<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/redux-store-element/redux-store.html" rel="import">
<link href="../prendus-concept-container/prendus-concept-container.html" rel="import">

<dom-module id="prendus-course-view">
  <style>
    :host {
      display: block;
    }
    .course-concept {
      display: block;
    }
  </style>
  <template>
    <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>
    <app-route route="[[route]]" pattern="/view/:courseId" data="{{data}}"></app-route>
      <h1>[[currentCourse.title]]</h1>
      <template is="dom-if" if="[[currentCourse.description]]">
        <div>
          Description: [[currentCourse.description]]
        </div>
      </template>
      <template is="dom-if" if="[[currentCourse.tags.length]]">
          Tags:
          <template is="dom-repeat" items="[[currentCourse.tags]]">
            <div>
                [[item.name]]
            </div>
          </template>
      </template>
      <template id="concept-list" is="dom-repeat" items=[[courseConcepts]]>
        <paper-card class="course-concept">
          <div class="card-content">
            <prendus-concept-container concept-id="[[item.id]]" course-id="[[data.courseId]]"></prendus-concept-container>
          </div>
        </paper-card>

      </template>
  </template>

  <!--<script src="prendus-course-view.js"></script>-->
</dom-module>
