<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-char-counter.html">
<link rel="import" href="../../bower_components/Sortable/Sortable.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/prendus-paper-tags-input/prendus-paper-tags-input.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">
<link rel="import" href="../prendus-lesson-container/prendus-lesson-container.html">
<link rel="import" href="../prendus-lesson-container-edit/prendus-lesson-container-edit.html">
<link rel="import" href="../prendus-concept-edit-modal/prendus-concept-edit-modal.html">
<!-- <link rel="import" href="../prendus-collaborator-modal/prendus-collaborator-modal.html"> -->

<dom-module id="prendus-course-view">

	<style include="color-styles paper-date-picker-dialog-style"></style>
  <style>

    * {
      margin: 0;
    }

    :host {
      display: block;
    }

    #course-container {
      width: 100%;
    }

    #course-content {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    #course-content > :not(#no-course) + :not(#no-course) {
      margin-top: 20px;
    }

		.icon-button {
			color: rgba(0, 0, 0, .5);
		}

		.icon-button:hover {
			color: rgba(0, 0, 0, .8);
		}

    #collaborators-button {
      align-self: flex-end;
    }

    .tag {
      background-color: var(--light-primary-color);
      border-radius: 20px;
      padding: 10px;
      margin: 5px;
    }

    .menu-content {
      padding: 20px;
    }

    .course-concept {
      width: 100%;
    }

    .concept-container {
      display: flex;
    }

		#concept-list {
			border: solid lightgrey 1px;
		}

    .concept-container + .concept-container {
      border-top: solid lightgrey 1px;
    }

    .concept-edit-container {
			/* keeps text from overflowing a flexbox container */
			min-width: 0;
      flex-grow: 1;
    }

		.edit-section {
			display: flex;
			align-items: center;
		}

		.edit-section * {
			/* keeps text from overflowing a flexbox container */
			min-width: 0;
		}

		.edit-section .edit-input {
			flex-grow: 1;
		}

		.edit-input {
			min-width: 200px;
		}

		.edit-section .edit-button {
			align-self: flex-start;
			flex-shrink: 0;
		}

		.sortable-ghost {
			background-color: #ccc;
		}

    #course-title {
      --paper-input-container-input: {
        font-size: 48px;
      };
    }

    #course-description {
      --paper-input-container-input: {
        font-size: 24px;
      };
    }

		.add-concept-button {
			background-color: var(--prendus-primary-color);
			color: white;
		}

  </style>
  <template>
    <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>
    <app-route route="[[route]]" pattern="/view/:courseId" data="{{data}}"></app-route>
    <prendus-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>

    <paper-card id="course-container">
      <div id="course-content" class="card-content">
				<!-- 404 MESSAGE -->
				<template id="no-course" is="dom-if" if="[[!courseLoaded]]">
					<h3>Sorry, the course you were looking for could not be loaded.</h3>
					<p>It may have been removed or never existed in the first place.  Try starting from the <a href="/">home page</a>.</p>
				</template>
        <template is="dom-if" if="[[courseLoaded]]">
          <!-- TITLE -->
					<div class="edit-section">
						<h1 hidden$="[[editingTitle]]">[[currentCourse.title]]</h1>
						<template is="dom-if" if="[[hasEditAccess]]">
							<paper-input id="course-title" class="edit-input" hidden$="[[!editingTitle]]" name="title" label="Course Title" value="[[currentCourse.title]]" maxlength="50" on-change="attributeChanged" required auto-validate error-message="Please enter a title."></paper-input>
							<paper-icon-button id="edit-title" class="edit-button icon-button" icon="[[getEditIcon(editingTitle)]]" noink on-tap="toggleEditTitle"></paper-icon-button>
							<paper-tooltip for="edit-title" offset="0" animation-delay="300">Click to edit course title</paper-tooltip>
						</template>
					</div>
          <!-- DESCRIPTION -->
					<div class="edit-section">
						<h3 hidden="[[editingDescription]]">[[currentCourse.description]]</h3>
						<template is="dom-if" if="[[hasEditAccess]]">
							<paper-textarea id="course-description" class="edit-input" hidden="[[!editingDescription]]" name="description" label="Course Description" value="[[currentCourse.description]]" maxlength="100" on-change="attributeChanged" required auto-validate error-message="Please enter a description."></paper-textarea>
							<paper-icon-button id="edit-description" class="edit-button icon-button" icon="[[getEditIcon(editingDescription)]]" noink on-tap="toggleEditDescription"></paper-icon-button>
							<paper-tooltip for="edit-description" offset="0" animation-delay="300">Click to edit course description</paper-tooltip>
						</template>
					</div>
					<!-- CONCEPTS -->
					<h2>Concepts</h2>
					<template is="dom-if" if="[[!hasEditAccess]]">
						<template is="dom-if" if="[[!courseConcepts.length]]">
							<p><strong>This course doesn't have any concepts yet.</strong></p>
						</template>
						<template is="dom-if" if="[[courseConcepts.length]]">
							<div id="concept-list">
								<template is="dom-repeat" items="[[courseConcepts]]" as="concept">
									<div class="concept-container">
										<prendus-lesson-container id="concept[[concept.id]]" class="concept-edit-container" concept-id="[[concept.id]]" course-id="[[data.courseId]]"></prendus-lesson-container>
									</div>
								</template>
							</div>
						</template>
					</template>
					<template is="dom-if" if="[[hasEditAccess]]">
						<template is="dom-if" if="[[!courseConcepts.length]]">
							<p><strong>Click + ADD CONCEPT to begin adding concepts to the course.</strong></p>
						</template>
						<template is="dom-if" if="[[courseConcepts.length]]">
							<sortable-js id="concept-list" animation="200" on-sort="sortableEnded">
								<template is="dom-repeat" items="[[courseConcepts]]" as="concept">
									<div class="concept-container">
										<prendus-lesson-container-edit id="concept[[concept.id]]" class="concept-edit-container" concept-id="[[concept.id]]"></prendus-lesson-container-edit>
									</div>
								</template>
							</sortable-js>
						</template>
						<paper-button class="add-concept-button" on-tap="addConcept"><iron-icon icon="add"></iron-icon> Add Concept</paper-button>
					</template>
          <!-- DUE DATE -->
					<!-- <div class="edit-section">
						<h3>Final due date: [[makePrettyDate(currentCourse.dueDate)]]</h3>
						<template is="dom-if" if="[[hasEditAccess]]">
							<paper-icon-button class="edit-button icon-button" icon="create" noink on-tap="openDueDateModal"></paper-icon-button>
						</template>
					</div>
					<template is="dom-if" if="[[hasEditAccess]]">
						<paper-dialog id="due-date-modal" class="paper-date-picker-dialog" with-backdrop>
							<paper-date-picker id="due-date" date="[[displayDate(currentCourse.dueDate)]]" on-tap="dueDateChanged"></paper-date-picker>
							<div class="buttons">
								<paper-button noink dialog-dismiss>Close</paper-button>
							</div>
						</paper-dialog>
					</template> -->
					<!-- COLLABORATORS -->
					<!-- <div class="edit-section">
						<template is="dom-if" if="[[hasEditAccess]]">
							<h3>Collaborators</h3>
							<prendus-collaborator-modal id="collaborators-modal" uid="[[uid]]" course-id="[[courseId]]" course></prendus-collaborator-modal>
							<paper-icon-button id="edit-collaborators" class="edit-button icon-button" icon="create" noink on-tap="openCollaboratorsModal"></paper-icon-button>
							<paper-tooltip for="edit-collaborators" offset="0" animation-delay="300">Click to add or remove collaborators</paper-tooltip>
						</template>
					</div> -->
					<!-- <p>[[formatCollaboratorEmails(collaboratorEmails)]]</p> -->
					<!-- LTI -->
					<!-- <template is="dom-if" if="[[hasEditAccess]]"> -->
						<!-- <iron-icon id="lti-button" icon="social:share" on-tap="getLTILinks"></iron-icon> -->
						<!-- <paper-tooltip for="lti-button" offset="0" animation-delay="300">Get LTI Links</paper-tooltip> -->
					<!-- </template> -->
          <!-- TAGS -->
          <!-- <h3 hidden$="[[!showTagsTitle(currentCourse, hasEditAccess)]]">Tags</h3>
          <template is="dom-if" if="[[showTagsView(currentCourse, hasEditAccess)]]">
            <div id="tags-container">
              <template is="dom-repeat" items="[[currentCourse.tags]]">
                <span class="tag">[[item.name]]</span>
              </template>
            </div>
          </template>
          <template is="dom-if" if="[[hasEditAccess]]">
            <prendus-paper-tags-input placeholder="Delete tags or add new ones" duplicate-error-message="Tag cannot be a duplicate" id="tags" tags="[[courseTagNames]]" on-remove="onRemove" on-add="onAdd"></prendus-paper-tags-input>
          </template> -->
        </template>

        <template is="dom-if" if="[[!username]]">
          <p>You are not signed in.  Please <a href="/login">sign in</a> to access this page </p>
        </template>

      </div>
    </paper-card>
		<prendus-concept-edit-modal id="add-concept-dialog" uid="[[uid]]" course-id="[[courseId]]" course-concepts="[[courseConcepts]]"></prendus-concept-edit-modal>

  </template>

  <script src="prendus-course-view.ts"></script>
</dom-module>
