<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/paper-toast/paper-toast.html" rel="import" >

<dom-module id="example-element">
  <style>
    /* CSS rules for your element */
  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <paper-toast id="toastContainer" verticalAlign="top" text=[[loginFormToastText]]></paper-toast>
    <div id="toastTarget" style = "margin-left: -28px; height: 60px;"></div>
  </template>
  <script>System.import('/components/prendus-error-message/prendus-error-message.ts');</script>
</dom-module>
