<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/view-quiz-component/view-quiz.component.html">

<dom-module id="prendus-view-quiz-router">
    <template>
        <app-route route="[[route]]" pattern="/view-quiz/course/:courseId/quiz/:quizId/quiz-session-id/:quizSessionId" data="{{data}}"></app-route>

        <prendus-view-quiz jwt="[[jwt]]" course-id="[[data.courseId]]" quiz-id="[[data.quizId]]" user-full-name="[[userFullName]]" user-email="[[userEmail]]" quiz-session-id="[[data.quizSessionId]]"></prendus-view-quiz>
    </template>

    <script>System.import('/components/view-quiz-router/view-quiz-router.component.ts');</script>
</dom-module>
