<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="prendus-navbar">
  <style>
    /* CSS rules for your element */
    #index {
      margin-left: 1%;
    }
    #user-menu-handler {
      margin-right: 1%;
    }
  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
      <!-- local DOM for your element -->
    <paper-header-panel class="flex">
        <paper-toolbar>
          <span id ="index" on-tap="changeURL" style ="cursor: pointer; cursor: hand;"> <span class="title" >Prendus</span></span>
          <span class="title"></span>
          <template>
            {{username}}
          </template>
          <template is="dom-if" if="{{username}}">
            <div on-tap="openDropdown" id = "user-menu-handler" style ="cursor: pointer; cursor: hand;">{{username}} </div>
            <div>
              <iron-dropdown vertical-align="top" horizontal-align="right" noAutoFocus>
                <paper-listbox class="dropdown-content" id = "user-menu-listbox">
                  <paper-item><paper-button class="route" id="/profile" on-tap="changeURL">Account</paper-button></paper-item>
                  <paper-item><paper-button class="route" id="/courses/home" on-tap="changeURL">Courses</paper-button></paper-item>
                  <paper-item><paper-button class="route" id="/profile" on-tap="changeURL">Dashboards</paper-button></paper-item>
                  <paper-item><paper-button class="route" id="/profile" on-tap="changeURL">Settings</paper-button></paper-item>
                  <paper-item><paper-button class="route" id="/login" on-tap="logOutUser">Logout</paper-button></paper-item>
                </paper-listbox>
              </iron-dropdown>
            </div>
          </template>
          <template is="dom-if" if="{{!username}}">
            <paper-button class="route" id="login" on-tap="changeURL">Login</paper-button>
            <paper-button class="route" id="signup" on-tap="changeURL">Sign Up</paper-button>
          </template>
        </paper-toolbar>
    </paper-header-panel>
  </template>
  <script>System.import('/components/prendus-navbar/prendus-navbar.ts');</script>
</dom-module>
