<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="prendus-navbar">
  <style>

    a {
      color: currentColor;
      text-decoration: none;
    }

    paper-item:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    #home-link {
      font-size: 1.3em;
      font-weight: 100;
      margin-right: auto;
    }

    #menu-button {
      cursor: pointer;
    }

    #menu-holder {
      align-self: flex-end;
    }

  </style>

  <template>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <paper-header-panel>
        <paper-toolbar>
          <a id="home-link" href="/">Prendus</a>
          <template is="dom-if" if="[[username]]">
            <div id="menu-button" on-tap="toggleMenu">
              <span>[[username]]</span><paper-button noink>Menu <iron-icon icon="arrow-drop-down"></iron-icon></paper-button>
            </div>
            <div id="menu-holder">
              <iron-dropdown id="menu-items" horizontal-align="right" no-auto-focus>
                <paper-listbox class="dropdown-content" id="user-menu-listbox">
                  <paper-item><a href="/profile" tabindex="-1"><paper-button on-tap="toggleMenu">Account</paper-button></a></paper-item>
                  <paper-item><a href="/courses/home" tabindex="-1"><paper-button on-tap="toggleMenu">Courses</paper-button></a></paper-item>
                  <paper-item><paper-button on-tap="logOutUser">Logout</paper-button on-tap="toggleMenu"></paper-item>
                </paper-listbox>
              </iron-dropdown>
            </div>
          </template>
          <template is="dom-if" if="{{!username}}">
            <a href="/login" tabindex="-1"><paper-button>Log In</paper-button></a>
            <a href="/signup" tabindex="-1"><paper-button>Sign Up</paper-button></a>
          </template>
        </paper-toolbar>
    </paper-header-panel>
  </template>

  <!-- <script>System.import('components/prendus-navbar/prendus-navbar.ts');</script> -->
</dom-module>
