<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-question-components/components/prendus-edit-question/prendus-edit-question.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">

<dom-module id="prendus-edit-question-router">
    <template>
				<style>

					paper-card {
						width: 100%;
					}

				</style>

        <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>
        <iron-ajax id="startQuizSessionAjax" url="[[endpointDomain]]/api/quiz/start-session" method="post" content-type="application/json" handle-as="json"></iron-ajax>
        <prendus-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>
        <app-route route="[[route]]" pattern="/edit-question/question/:questionId" data="{{data}}" tail="{{tail}}"></app-route>

				<paper-card>
				  <div class="card-content">
						<!-- TODO: add breadcrumbs, hopefully with quizId and courseId -->
						<prendus-edit-question id="editProblemComponent" jwt="[[jwt]]" external-question-id="[[data.questionId]]" quiz-session="[[quizSession]]" on-savequestion="questionSaved" on-loaded="editProblemComponentLoaded"></prendus-edit-question>
					</div>
				</paper-card>

    </template>

    <script src="prendus-edit-question-router.ts"></script>
</dom-module>
