<link href="/bower_components/polymer/polymer.html" rel="import">

<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/app-route/app-location.html">

<link href="/bower_components/iron-pages/iron-pages.html" rel="import">
<link href="/bower_components/iron-selector/iron-selector.html" rel="import">
<link rel="import" href="/components/sign-in/sign-in.html">
<link rel="import" href="/components/sign-up/sign-up.html">
<link rel="import" href="/components/course-router/course-router.html">
<link rel="import" href="/components/homepage-element/index-element.html">
<link rel="import" href="/components/profile-element/profile-element.html">

<dom-module id="router-element">
  <style>
    /* CSS rules for your element */
  </style>
  <template>
    <!-- local DOM for your element -->
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{pageData}}"
        tail="{{tail}}"
        active ="{{pageActive}}">
    </app-route>
    <iron-pages selected="{{pageData.page}}" category="{{pageData.page}}" attr-for-selected ="data-page">
      <sign-in data-page = "login" >
      </sign-in>
      <sign-up data-page = "signup">
      </sign-up>
      <course-router data-page = "courses" route="[[tail]]">
      </course-router>
      <profile-element data-page = "profile">
      </profile-element>
      <index-element data-page = "index">
      </index-element>
    </iron-pages>
  </template>
</dom-module>
<script>System.import('/components/router-element/router-element.ts');</script>
