<link href="../../bower_components/polymer/polymer.html" rel="import">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link href="../../bower_components/iron-pages/iron-pages.html" rel="import">
<link href="../../bower_components/iron-selector/iron-selector.html" rel="import">
<link rel="import" href="../sign-in/sign-in.html">
<link rel="import" href="../sign-up/sign-up.html">
<link rel="import" href="../course-router/course-router.html">
<link rel="import" href="../homepage/homepage.component.html">
<link rel="import" href="../profile-element/profile-element.html">

<dom-module id="router-element">
  <style>
    /* CSS rules for your element */
    /*.overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #FFF;
    }*/
  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <app-location route="{{route}}"></app-location>
    <app-route route="[[route]]" pattern="/:page" data="{{pageData}}" tail="{{tail}}" active ="{{pageActive}}"></app-route>

    <iron-pages selected="{{pageData.page}}" category="{{pageData.page}}" attr-for-selected ="data-page">
      <sign-in data-page="login"></sign-in>
      <sign-up data-page="signup"></sign-up>
      <course-router data-page="courses" route="[[tail]]"></course-router>
      <profile-element data-page="profile"></profile-element>
      <prendus-homepage data-page="index"></prendus-homepage>
    </iron-pages>
    <!-- <div class = "overlay">
      <paper-spinner active></paper-spinner>
    </div> -->
    <!--talk to Jordan about this -->
  </template>
</dom-module>
<script>System.import('/components/router-element/router-element.ts');</script>
