<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/prendus-question-components/components/prendus-view-question/prendus-view-question.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../styles/color-styles.html">
<link rel="import" href="../prendus-collaborator-modal/prendus-collaborator-modal.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">

<dom-module id="prendus-quiz-editor">
  <template>
    <style include="color-styles"></style>
    <style>
        :host {
          --paper-tab-ink: var(--prendus-primary-color);
        }

        #quiz-container {
          width: 100%;
          display: flex;
        }

        #quiz-container > * {
          flex-basis: 50%;
          margin: 10px;
        }

        #question-tabs {
            --paper-tabs-selection-bar-color: var(--prendus-primary-color);
        }

        #quiz-title-input {
            --paper-input-container-input: {
                font-size: 25px;
                margin-left: 2%;
            };

            --paper-input-container-label: {
                font-size: 25px;
                margin-left: 2%;
            };
        }

        #new-question {
          width: 100%;
          margin: 15px auto;
          background-color: var(--prendus-primary-color);
          color: white;
        }

        .tab-content {
          word-break: break-all;
        }

        #share-quiz-dialog {
          width: 80vw;
        }

        #share-quiz-dialog > * {
          padding: 0;
          width: 100%;
        }

        #settings-modal {
          width: 80%;
          max-width: 600px;
        }

        .setting + .setting {
          display: block;
          margin-top: 15px;
        }

        paper-tab {
          text-transform: uppercase;
        }

        #dueDate {
          margin-top: 15px;
        }

        @media (max-width: 768px) {
          #quiz-container {
            flex-wrap: wrap;
          }

          #quiz-container > * {
            flex-basis: 100%;
          }
        }

    </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <iron-ajax id="getUserQuestionIdsAjax" method="get" url="[[endpointDomain]]/api/jwt/[[jwt]]/question-ids" handle-as="json"></iron-ajax>
    <iron-ajax id="getPublicQuestionIdsAjax" method="get" url="[[endpointDomain]]/api/public/question-ids" handle-as="json"></iron-ajax>
    <iron-ajax id="getEmailsByIdsAjax" method="get" handle-as="json"></iron-ajax>
    <iron-ajax id="getUidByEmailAjax" method="get" handle-as="json"></iron-ajax>
    <iron-ajax id="startQuizSessionAjax" url="[[endpointDomain]]/api/quiz/start-session" method="post" content-type="application/json" handle-as="json"></iron-ajax>

    <prendus-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>

    <paper-dialog id="share-quiz-dialog" with-backdrop style="padding: 25px">
      <p>Use this link to access the quiz:</p>
      <input id="share-quiz-link" value="https://prendus.com/courses/view-quiz/course/[[courseId]]/concept/[[conceptId]]/quiz/[[quizId]]" readonly on-tap="selectText"></input>
    </paper-dialog>

    <div id="quiz-container">
      <!-- TODO: for mobile display, move the quiz preview to another tab in the questions card -->
      <paper-card>
        <div class="card-content">
          <paper-input id="quiz-title-input" label="Quiz Title" value="[[title]]" on-change="titleChanged"></paper-input>
          <paper-icon-button id="share-button" icon="social:share" on-tap="shareQuiz"></paper-icon-button>
          <paper-tooltip for="share-button" offset="0" animation-delay="300">Get Share Link</paper-tooltip>
          <paper-icon-button id="collaborators-button" icon="social:group-add" on-tap="openCollaboratorsModal"></paper-icon-button>
          <paper-tooltip for="collaborators-button" offset="0" animation-delay="300">Edit Collaborators</paper-tooltip>
          <prendus-collaborator-modal id="collaborators-modal" concept-id="[[conceptId]]" quiz-id="[[quizId]]" quiz></prendus-collaborator-modal>
          <paper-icon-button id="settings-button" icon="settings" on-tap="openSettingsModal"></paper-icon-button>
          <paper-tooltip for="settings-button" offset="0" animation-delay="300">Quiz Settings</paper-tooltip>
          <paper-dialog id="settings-modal">
            <h2>Quiz Settings</h2>
            <paper-dialog-scrollable>
              <paper-checkbox class="setting" on-change="answerFeedbackToggled" checked="[[quizQuestionSettings.answerFeedback]]" noink>Answer feedback</paper-checkbox>
              <paper-checkbox class="setting" on-change="showAnswerToggled" checked="[[quizQuestionSettings.showAnswer]]" noink>Show answer</paper-checkbox>
              <paper-checkbox class="setting" on-change="showHintToggled" checked="[[quizQuestionSettings.showHint]]" noink>Show hint</paper-checkbox>
              <paper-checkbox class="setting" on-change="showCodeToggled" checked="[[quizQuestionSettings.showCode]]" noink>Show code</paper-checkbox>
              <paper-checkbox class="setting" on-change="gradedToggled" checked="[[quizQuestionSettings.graded]]" noink>Graded</paper-checkbox>
              <template class="setting" is="dom-if" if="[[quizQuestionSettings.graded]]">
                <paper-date-picker id="dueDate" date="[[displayDate(quizQuestionSettings.dueDate)]]" on-click="dueDateChanged"></paper-date-picker>
              </template>
              <!-- TODO: Only show this option if user has paid for premium-->
              <paper-checkbox class="setting" on-change="privateToggled" checked="[[determineVisibility(quizQuestionSettings.visibility)]]" noink>Private</paper-checkbox>
              <paper-checkbox class="setting" on-change="showConfidenceLevelToggled" checked="[[quizQuestionSettings.showConfidenceLevel]]" noink>Show confidence level</paper-checkbox>
              <paper-checkbox class="setting" on-change="allowGenerationToggled" checked="[[quizQuestionSettings.allowGeneration]]" noink>Allow question generation</paper-checkbox>
              <paper-input class="setting" type="number" label="Maximum number of attempts" value=[[quizQuestionSettings.maxNumAttempts]] on-change="maxNumAttemptsChanged"></paper-input>
            </paper-dialog-scrollable>
          </paper-dialog>

          <template is="dom-if" if="[[showEmptyQuizQuestionsText(quizQuestionIds)]]">
            <h3>Create questions and click <iron-icon icon="av:playlist-add"></iron-icon> to add them to the quiz.</h3>
          </template>
          <div id="quizDomRepeatContainer">
              <template is="dom-repeat" items="[[quizQuestionIds]]">
                  <div style="position: relative">
                      <prendus-view-question id="quiz-question-id-[[item]]" question-id="[[item]]" quiz-id="NO_QUIZ" jwt="[[jwt]]" quiz-session="[[quizSession]]" concise></prendus-view-question>
                      <paper-icon-button id="remove[[item]]" icon="icons:clear" on-click="removeQuestionFromQuiz"></paper-icon-button>
                      <paper-tooltip for="remove[[item]]" offset="0" animation-delay="300">Remove from quiz</paper-tooltip>
                      <hr>
                  </div>
              </template>
          </div>
        </div>
      </paper-card>
      <paper-card>
        <div class="card-content">
          <paper-tabs id="question-tabs" selected="{{selected}}" scrollable fit-container>
            <paper-tab>My Questions</paper-tab>
            <paper-tab>Public Questions</paper-tab>
          </paper-tabs>

          <iron-pages selected="{{selected}}">
            <div id="my-questions" class="tab-content">
              <paper-button id="new-question" on-tap="createQuestion">New Question</paper-button>
              <template is="dom-repeat" items="[[userQuestionIds]]">
                <prendus-view-question id="user-question-id-[[item]]" question-id="[[item]]" quiz-id="NO_QUIZ" jwt="[[jwt]]" quiz-session="[[quizSession]]" concise></prendus-view-question>
                <paper-icon-button id="add[[item]]" icon="av:playlist-add" on-click="addQuestionToQuiz"></paper-icon-button>
                <paper-tooltip for="add[[item]]">Add to quiz</paper-tooltip>
                <paper-icon-button id="edit[[item]]" icon="create" on-click="editQuestion"></paper-icon-button>
                <paper-tooltip for="edit[[item]]">Edit question</paper-tooltip>
                <hr>
              </template>
            </div>

            <div id="public-questions" class="tab-content">
              <template is="dom-repeat" items="[[publicQuestionIds]]" filter="hasUserVote">
                <prendus-view-question id="public-question-id-[[item]]" question-id="[[item]]" quiz-id="NO_QUIZ" jwt="[[jwt]]" quiz-session="[[quizSession]]" concise></prendus-view-question>

                <paper-icon-button id="thumb-down-[[item]]" icon="thumb-down" on-tap="thumbDown" vote="down"></paper-icon-button>
                <span id="score-[[item]]"> </span>
                <paper-icon-button id="thumb-up-[[item]]" icon="thumb-up" on-tap="thumbUp" vote="up"></paper-icon-button>
                <paper-icon-button id="add[[item]]" icon="av:playlist-add" on-click="addQuestionToQuiz"></paper-icon-button>
                <paper-tooltip for="add[[item]]">Add to quiz</paper-tooltip>
                <paper-icon-button id="edit[[item]]" icon="create" on-click="editQuestion"></paper-icon-button>
                <paper-tooltip for="edit[[item]]">Edit question</paper-tooltip>
                <hr>
              </template>
            </div>
          </iron-pages>
        </div>
      </paper-card>
    </div>
  </template>

  <script src="prendus-quiz-editor.ts"></script>
</dom-module>
