<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/prendus-styles/prendus-styles.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="prendus-question-scaffold-example">

  <style include="prendus-styles">
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 50% 50%;
      grid-column-gap: 15px;
    }

    .wrapper > div {
      margin-top: 10px;
    }

    .question {
      grid-row: 1;
      grid-column: 1;
    }

    .explanation {
      grid-row: 1;
      grid-column: 2/4;
    }

    .answers {
      grid-row: 2;
      grid-column: 1;
    }

    .comments {
      grid-row: 2;
      grid-column: 2/4;
    }

    .answer-card, .comment-card {
      margin-top: 5px;
    }
  </style>

  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <div class="wrapper">

      <div class="prendus-card question">
        <h3>Question</h3>
        [[questionStem]]
      </div>
      <div class="prendus-card explanation">
        <h3>Explanation</h3>
        [[explanation]]
      </div>

      <div class="answers">
        <h3>Answers</h3>
          <template is="dom-repeat" items="[[answers]]">
            <div id$="answer[[index]]" class="prendus-card answer-card">

              [[item]]
            </div>
          </template>
      </div>

      <div class="comments">
        <h3>Comments</h3>
          <template is="dom-repeat" items="[[comments]]">
            <div id="comment[[index]]" class="prendus-card comment-card">
              [[item]]
            </div>
          </template>
      </div>



    </div>





  </template>

  <script src="prendus-question-scaffold-example.ts"></script>
</dom-module>
