<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../node_modules/prendus-services/styles/prendus-styles.html">

<dom-module id="prendus-example">

	<template>

	  <style include="prendus-styles">

			/* styles */

	  </style>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

		<!-- DOM -->

  </template>

  <script src="prendus-example.ts"></script>
</dom-module>
