<!-- THIS WILL BE USED LATER


'<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../prendus-paper-tags-input/prendus-paper-tags-input.html">
<link rel="import" href="../prendus-course-preview/prendus-course-preview.html">
<dom-module id="prendus-search-concept-tags">
  <style>
    .course-concept {
        display: block;
    }
  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
      <div>
        <prendus-paper-tags-input placeholder="Type tags you wish to look up. Press enter to add multiple" label="Search for concepts by tags" duplicate-error-message="Tag cannot be a duplicate" tags="{{tags}}"></prendus-paper-tags-input>
        <div> [[tags]] </div>
        <paper-button on-tap="clearTags">Clear</paper-button>
        <paper-button on-tap="searchTagsInDB">Search</paper-button>
      </div>

      <template is="dom-if" if="[[resultingConcepts]]">
        <h3>Concepts that match your tag search</h3>
        <template id="concept-list" is="dom-repeat" items="[[resultingConcepts]]">
          <paper-card class="course-concept">
            <div class="card-content">
              <prendus-concept-container concept-id="[[item.id]]"></prendus-concept-container>
            </div>
          </paper-card>

        </template>
      </template>
  </template>

  <script src="prendus-search-concept-tags.ts"></script>
</dom-module> -->
