
<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/paper-card/paper-card.html" rel="import">
<link href="../../bower_components/app-route/app-location.html" rel="import">
<link href="../../bower_components/iron-pages/iron-pages.html" rel="import">
<link href="../../bower_components/iron-selector/iron-selector.html" rel="import">

<link rel="import" href="../course-edit/course-edit.html">
<link rel="import" href="../course-view/course-view.html">
<link rel="import" href="../course-homepage/course-homepage.html">
<link rel="import" href="../quiz-editor/quiz-editor.component.html">
<link rel="import" href="../view-video-router/view-video-router.component.html">
<link rel="import" href="../view-quiz-router/view-quiz-router.component.html">
<link rel="import" href="../quiz-router/quiz-router.component.html">

<dom-module id="course-router">
  <style>
    :host {
      display: block;
    }
  </style>

  <template>
    <app-route route="[[route]]" pattern="/:page" data="{{data}}" tail="{{tail}}"></app-route>

    <iron-pages selected="[[data.page]]" attr-for-selected="key">
      <course-homepage key="home"></course-homepage>
      <course-edit key="edit" route="[[tail]]"></course-edit>
      <course-view key="view-course" route="[[tail]]"></course-view>
      <prendus-quiz-router key="edit-quiz" route="[[tail]]"></prendus-quiz-router>
      <prendus-view-video-router key="view-video" route="[[tail]]"></prendus-view-video-router>
      <prendus-view-quiz-router key="view-quiz" route="[[tail]]"></prendus-view-quiz-router>
    </iron-pages>
  </template>

  <script>System.import('/components/course-router/course-router.ts');</script>
</dom-module>
